USE [SIGSALUD]
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_EMERGENCIA_PROC_WEB]    Script Date: 08/17/2015 14:59:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_GET_EMERGENCIA_PROC_WEB](
@P_DATE VARCHAR(10),
@p_date_fin VARCHAR(10))

AS BEGIN

/* @APLICACION: MÓDULO DE EMERGENCIA 
 * @CLASES:		otras_atencionesModel.php
 */

SET LANGUAGE SPANISH;

SELECT 
T1.*, 
T2.DESCRIPCION AS PROCEDIMIENTO, 
UPPER(T3.NOMBRE) AS SEGURO_NOMBRE 
FROM EMERGENCIA_PROC_WEB T1 
LEFT JOIN EMERGENCIA_PROCE_ENF AS T2 ON T2.CODIGO = T1.CODIGO_PROC 
INNER JOIN SEGURO AS T3 ON T3.SEGURO = T1.SEGURO
WHERE T1.ESTADO = 1
AND T1.FECHA between @P_DATE and @p_date_fin order by T1.FECHA asc

END