USE [SIGSALUD]
GO
/****** Object:  Table [dbo].[EMERGENCIA_HORA_ING]    Script Date: 12/12/2017 15:09:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMERGENCIA_HORA_ING](
	[EMERGENCIA_ID] [char](8) NOT NULL,
	[NHORA] [varchar](5) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[EMERGENCIA_HORA_ING] ([EMERGENCIA_ID], [NHORA]) VALUES (N'17047509', N'10:17')
INSERT [dbo].[EMERGENCIA_HORA_ING] ([EMERGENCIA_ID], [NHORA]) VALUES (N'17047554', N'14:32')
INSERT [dbo].[EMERGENCIA_HORA_ING] ([EMERGENCIA_ID], [NHORA]) VALUES (N'17047581', N'17:16')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
