USE [SIGSALUD]
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_EMERGENCIA_PROC_WEB_9]    Script Date: 08/26/2015 14:14:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_GET_EMERGENCIA_PROC_WEB_9]
@p_fecha_inicio VARCHAR(10),
@p_turno VARCHAR(1)
AS BEGIN

SET NOCOUNT ON
SET LANGUAGE Spanish

DECLARE @v_fecha_inicio DATETIME = @p_fecha_inicio
DECLARE @v_fecha_fin DATETIME = DATEADD(SECOND, 59, DATEADD(MINUTE, 59, DATEADD(HOUR, 23, @v_fecha_inicio)))

IF @p_turno = 'D'
BEGIN
	SET @v_fecha_inicio =  DATEADD(MINUTE, 30, DATEADD(HOUR, 7, @v_fecha_inicio))
	SET @v_fecha_fin = DATEADD(MINUTE, -90, DATEADD(HOUR, -3, @v_fecha_fin))
END

IF @p_turno = 'G'
BEGIN
	SET @v_fecha_inicio =  DATEADD(MINUTE, 30, DATEADD(HOUR, 19, @v_fecha_inicio))
	SET @v_fecha_fin = DATEADD(MINUTE, -30, DATEADD(HOUR, -16, DATEADD(DAY, 1, @v_fecha_fin)))
END

SELECT
CONVERT(VARCHAR(10), T1.FECHA, 103) fecha,
CONVERT(VARCHAR(5), T1.HORA, 108) + ' '  +  RIGHT(CONVERT(VARCHAR(30), T1.HORA, 9), 2) hora,
T1.nombres,
T1.edad,
T3.NOMBRE AS seguro,
T1.nro_ticket,
T2.DESCRIPCION AS procedimiento,
T1.tratamiento,
T4.NOMBRE AS profesional,
CASE T1.ZONA_APLICACION
WHEN 'BI' THEN 'BRAZO IZQUIERDO'
WHEN 'BD' THEN 'BRAZO DERECHO'
WHEN 'NI' THEN 'NALGA IZQUIERDA'
WHEN 'ND' THEN 'NALGA DERECHA'
WHEN 'NA' THEN ''
END AS zona_aplicacion
FROM EMERGENCIA_PROC_WEB AS T1 
INNER JOIN EMERGENCIA_PROCE_ENF AS T2 ON T2.CODIGO = T1.CODIGO_PROC
INNER JOIN SEGURO AS T3 ON T3.SEGURO = T1.SEGURO 
INNER JOIN MEDICO AS T4 ON T4.MEDICO = T1.PROFESIONAL
WHERE T1.FECHA_HORA_REG BETWEEN @v_fecha_inicio AND @v_fecha_fin

END