use sigsalud
SELECT * FROM [SIGSALUD].[dbo].[CIEXHIS] where CODIGO like 'd7%'


use sigsalud  
select * from dbo.TARIFARIO_GENERAL_2017 where CPT = '35211'
  
  
select * from CIEXHIS where CODIGO = '35211' 
select * from CIEXHIS where NOMBRE LIKE '%SUTURA%'
select * from dbo.TARIFARIO_GENERAL_2017 where NOMBRE LIKE '%SUTURA%'
  
 /* PROGRAMAS QUE UBIQUE LOS CODIGOS EXISTENTES Y REMPLAZE LA DESCRIPCION 
  EN CASO QUE NO LO ENCUENTRA PARA REMPLAZARLO, GENERE UNA TABLA Y LE PERMITE AÑADIRLE */
  
select SERVICIO, CPT, NOMBRE from dbo.TARIFARIO_GENERAL_2017 
 
SELECT * FROM CIEXHIS
  
SELECT * FROM CIEXHIS ORDER BY CODORD ASC

    
SELECT ITEM, NOMBRE, LTRIM(nombre) as nom FROM ITEM WHERE SUBSTRING(ITEM,1,1) = '6' AND ACTIVO = '1' ORDER BY LTRIM(nombre) ASC

SELECT ITEM, NOMBRE, LTRIM(nombre) as nom FROM ITEM WHERE SUBSTRING(ITEM,1,1) = '6' AND ACTIVO = '1' ORDER BY nombre ASC

update ITEM set NOMBRE = LTRIM(nombre) WHERE SUBSTRING(ITEM,1,1) = '6' AND ACTIVO = '7'
   
SELECT * FROM CIEXHIS ORDER BY CODORD desc

declare @lcodord int
set @lcodord = (SELECT max(codord) + 1  FROM CIEXHIS where substring(convert(varchar(6), codord),1,1) = 1)
select @lcodord



SELECT ITEM, codcpt, NOMBRE FROM ITEM WHERE SUBSTRING(ITEM,1,1) = '6' AND ACTIVO = '1' and nombre like 'extra%' ORDER BY NOMBRE ASC 

SELECT CODIGO, Nombre FROM CIEXHIS WHERE EST<>'I' ORDER By NOMBRE

SELECT ITEM, CODCPT, NOMBRE FROM ITEM WHERE SUBSTRING(ITEM,1,1) <> '6' AND ACTIVO = '1' ORDER BY NOMBRE ASC

UPDATE ITEM SET ACTIVO = SUBSTRING(ITEM,1,1) WHERE 
SELECT CODORD, CODIGO, Nombre, EST FROM CIEXHIS WHERE EST <> 'I' ORDER By CODIGO asc

SELECT CODORD, CODIGO, Nombre, EST FROM CIEXHIS WHERE EST <> 'I' ORDER By CODIGO asc


declare @lccodcpt varchar(9) = '7441502'
SELECT CODCPT, * FROM ITEM WHERE CODCPT  = @lccodcpt
SELECT * FROM CIEXHIS WHERE CODIGO = @lccodcpt
   

/* Para el Caso de Shirley */
   
SELECT FECHA, HORA_REGISTRO AS HORA, HISTORIA,  NOMBRE, UPPER(COMPRA_O_ATENCION) DETALLE, TOTAL, USUARIO FROM  TEMP_PAGOTOTAL ORDER BY PAGOID, fecha  desc
SELECT * FROM  TEMP_PAGOTOTAL ORDER BY PAGOID, fecha  desc

update CIEXHIS set NOMBRE = SUBSTRING(nombre, 1,180) 




 USE SIGSALUD
 ALTER TABLE ITEM ADD REVISION VARCHAR(2) 
 alter table item drop column revision
 
 SELECT * FROM ITEM order by ITEM desc
  
  update ITEM set REVISION = ''
  
SELECT * FROM   ITEM WHERE REVISION <> 'M' ORDER BY ITEM ASC
    
    
    
    
    
    
  
 
  
  
  
  
  