/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT [Ncp_Cta]
      ,[Ncp_NInicial]
      ,[Ncp_FechaI]
      ,[Ncp_Motivo]
      ,[Ncp_NActual]
      ,[Chek]
      ,[IDNUME_CP]
  FROM [GIROS].[dbo].[Nume_CP] where Ncp_Cta = '0068370892'
  
  
  
  
  
  
  
  
  
  update [GIROS].[dbo].[Nume_CP] set ncp_nactual = '000001' where Ncp_Cta = '0068368553'
  update [GIROS].[dbo].[Nume_CP] set ncp_nactual = '000001' where Ncp_Cta = '0068368286'
  update [GIROS].[dbo].[Nume_CP] set ncp_nactual = '000001' where Ncp_Cta = '68368553'
  update [GIROS].[dbo].[Nume_CP] set ncp_nactual = '000001' where Ncp_Cta = '0068370892'
  update [GIROS].[dbo].[Nume_CP] set ncp_nactual = '000001' where Ncp_Cta = '068368553'
  