/* PARA REPORTE ANDRES */

SELECT *  FROM [GIROS].[dbo].[Cp_Encab] where Cpe_CtaCte = '0068345219'
 and cpe_emite between convert(datetime, '2017-01-01', 101) and convert(datetime, '2017-07-12', 101) 
 
 
 
 
 SELECT *  FROM [GIROS].[dbo].[Cp_Encab] where Cpe_CtaCte = '68368553'
  and cpe_emite between convert(datetime, '2017-01-01', 101) and convert(datetime, '2017-07-12', 101) 
  and Cpe_Finan = '13'
 
 /* donaciones y transferencia */
 
 
 0068368553
