/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT TOP 1000 [ID_PROCE_WEB]
      ,[PROFESIONAL]
      ,[FECHA]
      ,[HORA]
      ,[FECHA_HORA_REG]
      ,[PACIENTE]
      ,[NOMBRES]
      ,[CODIGO_PROC]
      ,[TRATAMIENTO]
      ,[SEGURO]
      ,[ZONA_APLICACION]
      ,[NRO_TICKET]
      ,[ESTADO]
      ,[EDAD]
      ,[FECHA_NACI]
      ,[APELLIDOS]
      ,[NOMBRE]
      ,[SEXO]
      ,[TIPO_DE_EDAD]
      ,[NEDAD]
      ,[DNI]
  FROM [SIGSALUD].[dbo].[EMERGENCIA_PROC_WEB]
  
  USE SIGSALUD
  
  select ID_PROCE_WEB, PROFESIONAL, FECHA, HORA, NOMBRE, PACIENTE, UPPER(TRATAMIENTO) TRATAMIENTO, SEGURO, 
  CASE ZONA_APLICACION WHEN 'BI' THEN 'BRAZO IZQUIERDO'  WHEN 'BD' THEN 'BRAZO DERECHO' WHEN  'NI' THEN 'NALGA IZQUIERDA' WHEN 'ND' THEN 'NALGA DERECHA'  WHEN 'NA' THEN 'NINGUNA' ELSE 'NO DEFINIDO' END AS DESCRIP
      from [SIGSALUD].[dbo].[EMERGENCIA_PROC_WEB] where NOMBRES like 'obeso%' ORDER BY FECHA_HORA_REG DESC
    
      
   CASE Expr1 WHEN 'CONSTRUYENDO PERU0' THEN '10'  WHEN 'CREDITO PACIENTE' THEN '01' WHEN 'ESSALUD' THEN '03' WHEN 'EXONERADO' THEN '11'  WHEN 'OTROS SEGUROS' THEN '01' WHEN 'PACIENTE PROGRAMAS' THEN '01' WHEN 'PAGANTE' THEN '01'  WHEN 'SANIDAD EP' THEN '07'  WHEN 'SANIDAD FAP' THEN '05' 
   WHEN 'SANIDAD PNP' THEN '08'  WHEN 'SEGURO PRIVADO' THEN '09' WHEN 'SEMISUBSIDIADO SISALUD' THEN '01' WHEN 'SIS SUBISIDIADO NRUS' THEN '02' WHEN 'SIS SUBSIDIADO' THEN '02' WHEN 'EXONERADO' THEN '11' WHEN 'SOAT' THEN '04' END as FINANCIA
   
   
   
   
   
  SELECT ZONA_APLICACION FROM [SIGSALUD].[dbo].[EMERGENCIA_PROC_WEB] GROUP BY ZONA_APLICACION
  
  CASE WHEN ZONA_APLICACION = 'BI' THEN 'BRAZO IZQUIERDO' WHEN 'BD' THEN 'BRAZO DERECHO' WHEN 'NI' THEN 'NALGA IZQUIERDA' WHEN 'ND' THEN 'NALGA DERECHA'
  WHEN 'NA' THEN 'NINGUNA' WHEN '' THEN 'NO DEFINIDO'
  
  
   SELECT * FROM [SIGSALUD].[dbo].[EMERGENCIA_PROC_WEB] ORDER BY FECHA_HORA_REG DESC
   