SELECT *
  FROM [SIGSALUD].[dbo].[CITA] WHERE CONSULTORIO = '2022' AND FECHA = CONVERT(DATETIME, '2018-01-06', 101) 
  AND MEDICO = 'QHJ' ORDER BY CITA_ID DESC
  
  
  DELETE FROM [SIGSALUD].[dbo].[CITA]  WHERE CONSULTORIO = '1031' AND FECHA = CONVERT(DATETIME, '2018-01-02', 101) 
  AND MEDICO = 'SVS'