/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT [CONSULTORIO]
      ,[NOMBRE]
      ,[ABREVIATURA]
      ,[ESPECIALIDAD]
      ,[TIPO]
      ,[ROL]
      ,[MUESTRAROL]
      ,[CC1]
      ,[CC2]
      ,[CC3]
      ,[ACTIVO]
      ,[ORDEN]
      ,[NUMERO]
      ,[CUPO]
      ,[CODESPE]
      ,[NOMESPE]
      ,[HIS_ESPECIALIDAD]
      ,[ACTIVO_WEB]
      ,[COD_RENAES]
      ,[DESC_RENAES]
      ,[HIS_CODSERVICIO]
      ,[HIS_NOMSERVICIO]
      ,[SCONSULTORIO]
      ,[SCCONSULTORIO]
      ,[ECONSULTORIO]
      ,[ECCONSULTORIO]
      ,[DEPARTAMENTO]
      ,[TIPOSERVICIO]
  FROM [SIGSALUD].[dbo].[CONSULTORIO] where HIS_CODSERVICIO = '301203' ORDER BY CONSULTORIO ASC
  
  USE SIGSALUD
  SELECT * FROM ESPECIALIDAD WHERE ESPECIALIDAD = '0041' 
  
 CONSULTORIO	NOMBRE	ABREVIATURA	ESPECIALIDAD	TIPO	ROL	MUESTRAROL	CC1	CC2	CC3	ACTIVO	ORDEN	NUMERO	CUPO	CODESPE	NOMESPE	HIS_ESPECIALIDAD	ACTIVO_WEB	COD_RENAES	DESC_RENAES	HIS_CODSERVICIO	HIS_NOMSERVICIO	SCONSULTORIO	SCCONSULTORIO	ECONSULTORIO	ECCONSULTORIO	DEPARTAMENTO	TIPOSERVICIO
6087  	PROG.PREV CANCER	PCANCER	0041	C 	0	1	 	 	 	1	0	88 	20	60	PROGRAMAS	6 	0	NULL	NULL	301203	PROG.PREV CANCER	88. PROG.PREV CANCER	80. TOTAL  PROG. Y OTROS	ENFERMERA (O)	5. OTROS PROFESIONALES	TOTAL  PROG. Y OTROS	PROG