SELECT CODIGO, Nombre FROM CIEXHIS WHERE EST<>'I' ORDER By NOMBRE

SELECT * FROM CIEXHIS WHERE EST<>'I' ORDER By NOMBRE

SELECT * FROM CIEXHIS WHERE CODORD LIKE '%88141%'

SELECT * FROM TABVAR
SELECT * FROM TabSituacion