USE [BDPERSONAL]
GO
/****** Object:  Table [dbo].[T_PARENTESCO]    Script Date: 09/20/2016 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_PARENTESCO](
	[IDPARENTESCO] [int] IDENTITY(1,1) NOT NULL,
	[PARENTESCO] [varchar](50) NULL,
 CONSTRAINT [PK_T_PARENTESCO] PRIMARY KEY CLUSTERED 
(
	[IDPARENTESCO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[T_PARENTESCO] ON
INSERT [dbo].[T_PARENTESCO] ([IDPARENTESCO], [PARENTESCO]) VALUES (1, N'PADRE')
INSERT [dbo].[T_PARENTESCO] ([IDPARENTESCO], [PARENTESCO]) VALUES (2, N'MADRE')
INSERT [dbo].[T_PARENTESCO] ([IDPARENTESCO], [PARENTESCO]) VALUES (3, N'HIJO(A)')
SET IDENTITY_INSERT [dbo].[T_PARENTESCO] OFF
/****** Object:  Table [dbo].[LGJ_UBIGEO]    Script Date: 09/20/2016 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LGJ_UBIGEO](
	[CODDPTO] [varchar](3) NULL,
	[CODPROV] [varchar](3) NULL,
	[CODDIST] [varchar](3) NULL,
	[NOMBRE] [varchar](150) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[LGJ_UBIGEO] ([CODDPTO], [CODPROV], [CODDIST], [NOMBRE]) VALUES (N'1', N'0', N'0', N'AMAZONAS')
INSERT [dbo].[LGJ_UBIGEO] ([CODDPTO], [CODPROV], [CODDIST], [NOMBRE]) VALUES (N'1', N'1', N'0', N'CHACHAPOYAS')
INSERT [dbo].[LGJ_UBIGEO] ([CODDPTO], [CODPROV], [CODDIST], [NOMBRE]) VALUES (N'1', N'1', N'1', N'CHACHAPOYAS')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
/****** Object:  Table [dbo].[LGJ_TIPOFECHA]    Script Date: 09/20/2016 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LGJ_TIPOFECHA](
	[IDFECHA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](150) NULL,
	[FECHAREGISTRO] [datetime] NULL,
	[USUARIO] [varchar](13) NULL,
 CONSTRAINT [PK_LGJ_TIPOFECHA] PRIMARY KEY CLUSTERED 
(
	[IDFECHA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LGJ_TIPOFECHA] ON
INSERT [dbo].[LGJ_TIPOFECHA] ([IDFECHA], [NOMBRE], [FECHAREGISTRO], [USUARIO]) VALUES (1, N'FECHA DE CONTRATO                                                             ', CAST(0x0000A67C00AC81C6 AS DateTime), N'16149036')
INSERT [dbo].[LGJ_TIPOFECHA] ([IDFECHA], [NOMBRE], [FECHAREGISTRO], [USUARIO]) VALUES (2, N'FECHA DE NOMBRAMIENTO                                                         ', CAST(0x0000A67C00AC8E1A AS DateTime), N'16149036')
INSERT [dbo].[LGJ_TIPOFECHA] ([IDFECHA], [NOMBRE], [FECHAREGISTRO], [USUARIO]) VALUES (3, N'FECHA DE REASIGNACION                                                         ', CAST(0x0000A67C00AC9AF6 AS DateTime), N'16149036')
SET IDENTITY_INSERT [dbo].[LGJ_TIPOFECHA] OFF
/****** Object:  Table [dbo].[LGJ_TIPOEDUCACION]    Script Date: 09/20/2016 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LGJ_TIPOEDUCACION](
	[IDTIPOE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](150) NULL,
 CONSTRAINT [PK_LGJ_TIPOEDUCACION] PRIMARY KEY CLUSTERED 
(
	[IDTIPOE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LGJ_TIPOEDUCACION] ON
INSERT [dbo].[LGJ_TIPOEDUCACION] ([IDTIPOE], [NOMBRE]) VALUES (1, N'EDUCACION PRIMARIA')
INSERT [dbo].[LGJ_TIPOEDUCACION] ([IDTIPOE], [NOMBRE]) VALUES (2, N'EDUCACION SECUNDARIA')
INSERT [dbo].[LGJ_TIPOEDUCACION] ([IDTIPOE], [NOMBRE]) VALUES (3, N'TECNICO SUPERIOR')
SET IDENTITY_INSERT [dbo].[LGJ_TIPOEDUCACION] OFF
/****** Object:  Table [dbo].[LGJ_SERVICIOSPRESTADOS]    Script Date: 09/20/2016 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LGJ_SERVICIOSPRESTADOS](
	[IDSERVICIOSPRESTADO] [int] IDENTITY(1,1) NOT NULL,
	[IDMASTER] [int] NULL,
	[FECHAREGISTRO] [datetime] NOT NULL,
	[IDDOCSERVICIOS] [int] NULL,
	[DOCUMENTOSERVICIO] [varchar](150) NULL,
	[NRODOCUMENTOSERVICIO] [varchar](50) NULL,
	[IDTIPOINSTITUCION] [int] NULL,
	[SECTORINSTITUCION] [varchar](150) NULL,
	[INSTITUCION] [varchar](150) NULL,
	[IDCARGO] [int] NULL,
	[CARGO] [varchar](150) NULL,
	[FUNCIONES] [varchar](250) NULL,
	[FECHAINICIO] [varchar](10) NULL,
	[FECHAFIN] [varchar](10) NULL,
	[TIEMPO_PERMANENCIA_ANIOS] [varchar](6) NULL,
	[TIEMPO_PERMANENCIA_MES] [varchar](6) NULL,
	[TIEMPO_PERMANENCIA_DIAS] [varchar](6) NULL,
	[IDMOTIVO] [int] NULL,
	[MOTIVOCULMINACION] [varchar](50) NULL,
	[OBSERVACIONES] [varchar](250) NULL,
	[FECHAMODIFICACION] [datetime] NULL,
	[ACTIVO] [varchar](1) NULL,
	[USUARIO] [varchar](13) NULL,
 CONSTRAINT [PK_LGJ_SERVICIOSPRESTADOS] PRIMARY KEY CLUSTERED 
(
	[IDSERVICIOSPRESTADO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LGJ_SERVICIOSPRESTADOS] ON
SET IDENTITY_INSERT [dbo].[LGJ_SERVICIOSPRESTADOS] OFF
/****** Object:  Table [dbo].[LGJ_REGISTRODOCUMENTOSREF]    Script Date: 09/20/2016 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LGJ_REGISTRODOCUMENTOSREF](
	[IDDOCREF] [int] IDENTITY(1,1) NOT NULL,
	[IDMASTER] [int] NULL,
	[TIPODOCREFERENCIA] [int] NULL,
	[DOCUMENTOREFERENCIA] [varchar](50) NULL,
	[NRODOCUMENTO] [varchar](50) NULL,
	[FECHADOCUMENTO] [varchar](10) NULL,
	[ENTIDADEMITE] [varchar](150) NULL,
	[DESCRIPCION] [varchar](250) NULL,
	[FECHAEXPIRACION] [varchar](10) NULL,
	[SINFECHAEXPIRACION] [varchar](1) NULL,
	[FECHAREGISTRO] [datetime] NULL,
	[USUARIO] [varchar](10) NULL,
 CONSTRAINT [PK_LGJ_REGISTRODOCUMENTOSREF_1] PRIMARY KEY CLUSTERED 
(
	[IDDOCREF] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LGJ_REGISTRODOCUMENTOSREF] ON
INSERT [dbo].[LGJ_REGISTRODOCUMENTOSREF] ([IDDOCREF], [IDMASTER], [TIPODOCREFERENCIA], [DOCUMENTOREFERENCIA], [NRODOCUMENTO], [FECHADOCUMENTO], [ENTIDADEMITE], [DESCRIPCION], [FECHAEXPIRACION], [SINFECHAEXPIRACION], [FECHAREGISTRO], [USUARIO]) VALUES (1, 1, 1, N'DECLARACION JURADA DE DOMICILIO', N'S/N', N'15/01/2015', N'DECLARACION JURADA LEY 28882', N'ACREDITO SU DOMICILIO EN LOS ROBLES Ñ4, LOTE 18 AAHH. RINCONADA DEL BOSQUE -DISTRITO LURIGANCHO CHOSICA.', N'NO EXPIRA', N'1', CAST(0x0000A67C00B5F009 AS DateTime), N'16149036')
INSERT [dbo].[LGJ_REGISTRODOCUMENTOSREF] ([IDDOCREF], [IDMASTER], [TIPODOCREFERENCIA], [DOCUMENTOREFERENCIA], [NRODOCUMENTO], [FECHADOCUMENTO], [ENTIDADEMITE], [DESCRIPCION], [FECHAEXPIRACION], [SINFECHAEXPIRACION], [FECHAREGISTRO], [USUARIO]) VALUES (2, 1, 5, N'CERTIFICADO  DE  SALUD', N'008698', N'16/01/2012', N'C.S. DE CHOSICA', N'EVALUACION GENERAL EN BUEN ESTADO DE SALUD', N'NO EXPIRA', N'1', CAST(0x0000A67C00FD5ACC AS DateTime), N'16149036')
INSERT [dbo].[LGJ_REGISTRODOCUMENTOSREF] ([IDDOCREF], [IDMASTER], [TIPODOCREFERENCIA], [DOCUMENTOREFERENCIA], [NRODOCUMENTO], [FECHADOCUMENTO], [ENTIDADEMITE], [DESCRIPCION], [FECHAEXPIRACION], [SINFECHAEXPIRACION], [FECHAREGISTRO], [USUARIO]) VALUES (3, 2, 1, N'DECLARACION JURADA DE DOMICILIO', N'LEY,-28882', N'15/01/2016', N'D.L.EMITIDO EN APLICACION DE LEY', N'DECLARA BAJO JURAMENTO QUE SU  DIRECCIONN ACTUAL ES ASC.EL OLIVAR MAZ.H-LT.12-ATE-VITARTE', N'NO EXPIRA', N'1', CAST(0x0000A67F00BE0404 AS DateTime), N'16149036')
SET IDENTITY_INSERT [dbo].[LGJ_REGISTRODOCUMENTOSREF] OFF
/****** Object:  Table [dbo].[LGJ_REGISTRARFECHAS]    Script Date: 09/20/2016 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LGJ_REGISTRARFECHAS](
	[IDREGFECHAS] [int] IDENTITY(1,1) NOT NULL,
	[IDMASTER] [int] NULL,
	[IDFECHA] [int] NULL,
	[NOMBRE] [varchar](150) NULL,
	[FECHA] [varchar](10) NULL,
	[RESOLUCION] [varchar](150) NULL,
	[CARGO] [varchar](150) NULL,
	[CATEGORIA] [varchar](150) NULL,
	[FECHAREGISTRO] [datetime] NULL,
	[USUARIO] [varchar](13) NULL,
 CONSTRAINT [PK_LGJ_REGISTRARFECHAS] PRIMARY KEY CLUSTERED 
(
	[IDREGFECHAS] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LGJ_REGISTRARFECHAS] ON
INSERT [dbo].[LGJ_REGISTRARFECHAS] ([IDREGFECHAS], [IDMASTER], [IDFECHA], [NOMBRE], [FECHA], [RESOLUCION], [CARGO], [CATEGORIA], [FECHAREGISTRO], [USUARIO]) VALUES (1, 1, 2, N'FECHA DE NOMBRAMIENTO', N'01/07/2012', N'RD. N° 096-2012-DE-HJATCH', N'TEC. ENFERMERIA', N'TC', CAST(0x0000A67C00B2AF4F AS DateTime), N'16149036')
INSERT [dbo].[LGJ_REGISTRARFECHAS] ([IDREGFECHAS], [IDMASTER], [IDFECHA], [NOMBRE], [FECHA], [RESOLUCION], [CARGO], [CATEGORIA], [FECHAREGISTRO], [USUARIO]) VALUES (2, 2, 1, N'FECHA DE CONTRATO', N'29/06/2008', N'NRO. OO2-2O12-UPE-HJATCH', N'TEC.ENFERMERIA', N'', CAST(0x0000A67F00B841CE AS DateTime), N'16149036')
INSERT [dbo].[LGJ_REGISTRARFECHAS] ([IDREGFECHAS], [IDMASTER], [IDFECHA], [NOMBRE], [FECHA], [RESOLUCION], [CARGO], [CATEGORIA], [FECHAREGISTRO], [USUARIO]) VALUES (3, 2, 2, N'FECHA DE NOMBRAMIENTO', N'01/07/2012', N'R.D.096-12-DE-HJATCH.', N'TEC.ENFERMERIA', N'STC', CAST(0x0000A67F00B9E48B AS DateTime), N'16149036')
SET IDENTITY_INSERT [dbo].[LGJ_REGISTRARFECHAS] OFF
/****** Object:  Table [dbo].[LGJ_PARTICIPACION]    Script Date: 09/20/2016 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LGJ_PARTICIPACION](
	[IDPARTICIPACION] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[FECHAREGISTRO] [datetime] NULL,
	[USUARIO] [varchar](13) NULL,
 CONSTRAINT [PK_LGJ_PARTICIPACION] PRIMARY KEY CLUSTERED 
(
	[IDPARTICIPACION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LGJ_PARTICIPACION] ON
INSERT [dbo].[LGJ_PARTICIPACION] ([IDPARTICIPACION], [NOMBRE], [FECHAREGISTRO], [USUARIO]) VALUES (1, N'ASISTENTE                                         ', CAST(0x0000A67C00ABD799 AS DateTime), N'16149036')
INSERT [dbo].[LGJ_PARTICIPACION] ([IDPARTICIPACION], [NOMBRE], [FECHAREGISTRO], [USUARIO]) VALUES (2, N'PONENTE                                           ', CAST(0x0000A67C00ABE0E2 AS DateTime), N'16149036')
INSERT [dbo].[LGJ_PARTICIPACION] ([IDPARTICIPACION], [NOMBRE], [FECHAREGISTRO], [USUARIO]) VALUES (3, N'ORGANIZADOR                                       ', CAST(0x0000A67C00ABEB88 AS DateTime), N'16149036')
SET IDENTITY_INSERT [dbo].[LGJ_PARTICIPACION] OFF
/****** Object:  Table [dbo].[LGJ_NOTA_APROBATORIA]    Script Date: 09/20/2016 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LGJ_NOTA_APROBATORIA](
	[IDNOTA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[CONDICION] [varchar](10) NULL,
	[CANTIDAD] [int] NULL,
	[FECHAREGISTRO] [datetime] NULL,
	[USUARIO] [varchar](13) NULL,
 CONSTRAINT [PK_LGJ_NOTA_APROBATORIA] PRIMARY KEY CLUSTERED 
(
	[IDNOTA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LGJ_MOTIVOCULMINACION]    Script Date: 09/20/2016 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LGJ_MOTIVOCULMINACION](
	[IDMOTIVO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](150) NULL,
	[FECHAREGISTRO] [datetime] NULL,
	[USUARIO] [varchar](13) NULL,
 CONSTRAINT [PK_LGJ_MOTIVOCULMINACION] PRIMARY KEY CLUSTERED 
(
	[IDMOTIVO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LGJ_MOTIVOCULMINACION] ON
INSERT [dbo].[LGJ_MOTIVOCULMINACION] ([IDMOTIVO], [NOMBRE], [FECHAREGISTRO], [USUARIO]) VALUES (1, N'TERMINO DE CONTRATO                                                           ', CAST(0x0000A67C00AE08B2 AS DateTime), N'16149036')
INSERT [dbo].[LGJ_MOTIVOCULMINACION] ([IDMOTIVO], [NOMBRE], [FECHAREGISTRO], [USUARIO]) VALUES (2, N'RENUNCIA                                                                      ', CAST(0x0000A67C00AE13E2 AS DateTime), N'16149036')
INSERT [dbo].[LGJ_MOTIVOCULMINACION] ([IDMOTIVO], [NOMBRE], [FECHAREGISTRO], [USUARIO]) VALUES (3, N'DESTAQUE                                                                      ', CAST(0x0000A67C00AE20B4 AS DateTime), N'16149036')
SET IDENTITY_INSERT [dbo].[LGJ_MOTIVOCULMINACION] OFF
/****** Object:  Table [dbo].[LGJ_MODALIDAD]    Script Date: 09/20/2016 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LGJ_MODALIDAD](
	[IDMODA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[FECHAREGISTRO] [datetime] NULL,
	[USUARIO] [varchar](13) NULL,
 CONSTRAINT [PK_LGJ_MODALIDAD] PRIMARY KEY CLUSTERED 
(
	[IDMODA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LGJ_MODALIDAD] ON
INSERT [dbo].[LGJ_MODALIDAD] ([IDMODA], [NOMBRE], [FECHAREGISTRO], [USUARIO]) VALUES (1, N'PRESENCIAL                                                                    ', CAST(0x0000A67C00AC45BC AS DateTime), N'16149036')
INSERT [dbo].[LGJ_MODALIDAD] ([IDMODA], [NOMBRE], [FECHAREGISTRO], [USUARIO]) VALUES (2, N'VIRTUAL                                                                       ', CAST(0x0000A67C00AC4F72 AS DateTime), N'16149036')
INSERT [dbo].[LGJ_MODALIDAD] ([IDMODA], [NOMBRE], [FECHAREGISTRO], [USUARIO]) VALUES (3, N'SEMI PRESENCIAL                                                               ', CAST(0x0000A67C00AC5EAB AS DateTime), N'16149036')
SET IDENTITY_INSERT [dbo].[LGJ_MODALIDAD] OFF
/****** Object:  Table [dbo].[LGJ_MERITOS]    Script Date: 09/20/2016 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LGJ_MERITOS](
	[IDMERITO] [int] IDENTITY(1,1) NOT NULL,
	[IDMASTER] [int] NULL,
	[TIPOMERITO] [varchar](1) NULL,
	[IDDOCMERITO] [int] NOT NULL,
	[DOCUMENTO] [varchar](150) NULL,
	[FECHADOCUMENTO] [varchar](10) NULL,
	[NRODOCUMENTO] [varchar](50) NULL,
	[ENTIDAD] [varchar](150) NULL,
	[DESCRIPCION] [varchar](220) NULL,
	[OBSERVACION] [varchar](220) NULL,
	[FECHAREGISTRO] [datetime] NULL,
	[USUARIO] [varchar](13) NULL,
 CONSTRAINT [PK_LGJ_MERITOS] PRIMARY KEY CLUSTERED 
(
	[IDMERITO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LGJ_MASTER]    Script Date: 09/20/2016 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LGJ_MASTER](
	[IDMASTER] [int] IDENTITY(1,1) NOT NULL,
	[FECHAREGISTRO] [datetime] NULL,
	[PATERNO] [varchar](90) NULL,
	[MATERNO] [varchar](90) NULL,
	[NOMBRES] [varchar](20) NULL,
	[APELLIDOSNOMBRES] [varchar](250) NOT NULL,
	[FECHANACIMIENTO] [varchar](10) NULL,
	[SEXO] [varchar](1) NULL,
	[LN_DEPARTAMENTO] [varchar](3) NULL,
	[LN_PROVINCIA] [varchar](3) NULL,
	[LN_DISTRITO] [varchar](3) NULL,
	[DNI] [varchar](8) NULL,
	[CARNETEXT] [varchar](50) NULL,
	[COLEGIATURA] [varchar](10) NULL,
	[RUC] [varchar](11) NULL,
	[CARNETESSALUD] [varchar](20) NULL,
	[CENTROESSALUD] [varchar](50) NULL,
	[GRUPOSANGUINEO] [varchar](50) NULL,
	[TELEFONODOMICILIO] [varchar](15) NULL,
	[CELULAR] [varchar](15) NULL,
	[CORREOELECTRONICO] [varchar](50) NULL,
	[DIRECCION] [varchar](250) NULL,
	[LD_DEPARTAMENTO] [varchar](3) NULL,
	[LD_PROVINCIA] [varchar](3) NULL,
	[LD_DISTRITO] [varchar](3) NULL,
	[ESTADO_CIVIL] [varchar](2) NULL,
	[PATERNO_CONYUGE] [varchar](90) NULL,
	[MATERNO_CONYUGUE] [varchar](90) NULL,
	[NOMBRE_CONYUGE] [varchar](50) NULL,
	[FECHANACIMIENTO_CONYUGE] [varchar](10) NULL,
	[LUGARLABORACONYUGE] [varchar](150) NULL,
	[USUARIO] [varchar](13) NULL,
	[REGIMENPENSIONARIO] [varchar](50) NULL,
	[AFP] [varchar](100) NULL,
	[CARNETUSPP] [varchar](20) NULL,
	[FECHAAFILIACION] [varchar](10) NULL,
	[DOCUMENTOFILIACION] [varchar](50) NULL,
	[CONDICIONLABORAL] [varchar](2) NULL,
	[FECHAINGRESO] [varchar](10) NULL,
	[RESOLUCIONINGRESO] [varchar](50) NULL,
	[CARGOINGRESO] [varchar](50) NULL,
	[FECHANOMBRAMIENTO] [varchar](10) NULL,
	[RESOLUCIONNOMBRAMIENTO] [varchar](50) NULL,
	[CARGONOMBRAMIENTO] [varchar](50) NULL,
	[CATEGORIANOMBRAMIENTO] [varchar](50) NULL,
	[CVDESCRIPTIVO] [varchar](250) NULL,
 CONSTRAINT [PK_LGJ_MASTER] PRIMARY KEY CLUSTERED 
(
	[IDMASTER] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LGJ_MASTER] ON
SET IDENTITY_INSERT [dbo].[LGJ_MASTER] OFF
/****** Object:  Table [dbo].[LGJ_MAPRECIACION]    Script Date: 09/20/2016 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LGJ_MAPRECIACION](
	[IDAPRE] [int] IDENTITY(1,1) NOT NULL,
	[IDMASTER] [int] NULL,
	[FECHAEVALUACION] [varchar](10) NULL,
	[IDCONDICIONSERVIDOR] [int] NULL,
	[CARGOLABORAL] [varchar](100) NULL,
	[TOTALPUNTAJE] [numeric](10, 3) NULL,
	[RANGOCALIFICACION] [varchar](150) NULL,
	[EVALUADOR] [varchar](150) NULL,
	[FECHAREGISTRO] [datetime] NULL,
	[USUARIO] [varchar](13) NULL,
 CONSTRAINT [PK_MAPRECIACION] PRIMARY KEY CLUSTERED 
(
	[IDAPRE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LGJ_FAMNOTIFICACION]    Script Date: 09/20/2016 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LGJ_FAMNOTIFICACION](
	[IDNOTI] [int] IDENTITY(1,1) NOT NULL,
	[APELLIDOSNOMBRES] [varchar](150) NULL,
	[PARENTESCO] [varchar](2) NULL,
	[DIRECCION] [varchar](150) NULL,
	[TELEFONO] [varchar](11) NULL,
	[USUARIO] [varchar](11) NULL,
	[FECHA] [datetime] NULL,
	[IDMASTER] [int] NULL,
 CONSTRAINT [PK_LGJ_FAMNOTIFICACION] PRIMARY KEY CLUSTERED 
(
	[IDNOTI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LGJ_FAMNOTIFICACION] ON
INSERT [dbo].[LGJ_FAMNOTIFICACION] ([IDNOTI], [APELLIDOSNOMBRES], [PARENTESCO], [DIRECCION], [TELEFONO], [USUARIO], [FECHA], [IDMASTER]) VALUES (1, N'BOJORQUE ABANTO DENNY', N'3', N'', N'940950921', N'16149036', CAST(0x0000A67C00B169B2 AS DateTime), 1)
INSERT [dbo].[LGJ_FAMNOTIFICACION] ([IDNOTI], [APELLIDOSNOMBRES], [PARENTESCO], [DIRECCION], [TELEFONO], [USUARIO], [FECHA], [IDMASTER]) VALUES (2, N'LAGUNA MAUTIN O JEMIL', N'5', N'', N'993843451', N'16149036', CAST(0x0000A67C00B19892 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[LGJ_FAMNOTIFICACION] OFF
/****** Object:  Table [dbo].[LGJ_EVENTO]    Script Date: 09/20/2016 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LGJ_EVENTO](
	[IDEVENTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[FECHAREGISTRO] [datetime] NULL,
	[USUARIO] [varchar](13) NULL,
 CONSTRAINT [PK_LGJ_EVENTO] PRIMARY KEY CLUSTERED 
(
	[IDEVENTO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LGJ_EVENTO] ON
INSERT [dbo].[LGJ_EVENTO] ([IDEVENTO], [NOMBRE], [FECHAREGISTRO], [USUARIO]) VALUES (1, N'CURSO                                                                         ', CAST(0x0000A67C00AC0687 AS DateTime), N'16149036')
INSERT [dbo].[LGJ_EVENTO] ([IDEVENTO], [NOMBRE], [FECHAREGISTRO], [USUARIO]) VALUES (2, N'CURSO TALLER                                                                  ', CAST(0x0000A67C00AC14A8 AS DateTime), N'16149036')
INSERT [dbo].[LGJ_EVENTO] ([IDEVENTO], [NOMBRE], [FECHAREGISTRO], [USUARIO]) VALUES (3, N'SEMINARIO                                                                     ', CAST(0x0000A67C00AC1CEA AS DateTime), N'16149036')
SET IDENTITY_INSERT [dbo].[LGJ_EVENTO] OFF
/****** Object:  Table [dbo].[LGJ_ESTUDIOS]    Script Date: 09/20/2016 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LGJ_ESTUDIOS](
	[IDESTUDIO] [int] IDENTITY(1,1) NOT NULL,
	[TIPOESTUDIO] [varchar](2) NULL,
	[ESTUDIO] [varchar](60) NULL,
	[CONDICION] [varchar](13) NULL,
	[DESDE] [varchar](13) NULL,
	[HASTA] [varchar](13) NULL,
	[CE] [varchar](250) NULL,
	[CARRERA] [varchar](150) NULL,
	[GRADO] [varchar](150) NULL,
	[ESPECIALIDAD] [varchar](150) NULL,
	[NRO_CARRERA_PROFESIONAL] [varchar](30) NULL,
	[LEE] [varchar](1) NULL,
	[HABLA] [varchar](1) NULL,
	[ESCRIBE] [varchar](1) NULL,
	[IDMASTER] [int] NULL,
	[FECHAREGISTRO] [datetime] NULL,
	[USUARIO] [varchar](13) NULL,
 CONSTRAINT [PK_LGJ_ESTUDIOS] PRIMARY KEY CLUSTERED 
(
	[IDESTUDIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LGJ_ESTUDIOS] ON
INSERT [dbo].[LGJ_ESTUDIOS] ([IDESTUDIO], [TIPOESTUDIO], [ESTUDIO], [CONDICION], [DESDE], [HASTA], [CE], [CARRERA], [GRADO], [ESPECIALIDAD], [NRO_CARRERA_PROFESIONAL], [LEE], [HABLA], [ESCRIBE], [IDMASTER], [FECHAREGISTRO], [USUARIO]) VALUES (1, N'1', N'EDUCACION PRIMARIA                                          ', N'COMPLETA', N'01/03/1986', N'30/12/1990', N'NO ESPECIFICA', N'', N'', N'', N'', N'N', N'N', N'N', 1, CAST(0x0000A67C00B34FD9 AS DateTime), N'16149036')
INSERT [dbo].[LGJ_ESTUDIOS] ([IDESTUDIO], [TIPOESTUDIO], [ESTUDIO], [CONDICION], [DESDE], [HASTA], [CE], [CARRERA], [GRADO], [ESPECIALIDAD], [NRO_CARRERA_PROFESIONAL], [LEE], [HABLA], [ESCRIBE], [IDMASTER], [FECHAREGISTRO], [USUARIO]) VALUES (2, N'2', N'EDUCACION SECUNDARIA                                        ', N'COMPLETA', N'01/03/1991', N'30/12/1995', N'D.A.CARRION', N'', N'', N'', N'', N'N', N'N', N'N', 1, CAST(0x0000A67C00B394C6 AS DateTime), N'16149036')
INSERT [dbo].[LGJ_ESTUDIOS] ([IDESTUDIO], [TIPOESTUDIO], [ESTUDIO], [CONDICION], [DESDE], [HASTA], [CE], [CARRERA], [GRADO], [ESPECIALIDAD], [NRO_CARRERA_PROFESIONAL], [LEE], [HABLA], [ESCRIBE], [IDMASTER], [FECHAREGISTRO], [USUARIO]) VALUES (3, N'3', N'TECNICO SUPERIOR                                            ', N'COMPLETA', N'01/08/2001', N'30/12/2003', N'I.S.T.P. FREDERICK WISLOW TAYLOR', N'ENFERMERIA TECNICA', N'PROFESIONAL TECNICO EN ENFERMERIA TECNICA', N'', N'', N'N', N'N', N'N', 1, CAST(0x0000A67C00B446EC AS DateTime), N'16149036')
SET IDENTITY_INSERT [dbo].[LGJ_ESTUDIOS] OFF
/****** Object:  Table [dbo].[LGJ_EDAD_CESE]    Script Date: 09/20/2016 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LGJ_EDAD_CESE](
	[IDCESE] [int] IDENTITY(1,1) NOT NULL,
	[SEXO] [varchar](1) NULL,
	[EDAD] [varchar](3) NULL,
	[FECHAREGISTRO] [datetime] NULL,
	[USUARIO] [varchar](13) NULL,
 CONSTRAINT [PK_LGJ_EDAD_CESE] PRIMARY KEY CLUSTERED 
(
	[IDCESE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LGJ_EDAD_CESE] ON
INSERT [dbo].[LGJ_EDAD_CESE] ([IDCESE], [SEXO], [EDAD], [FECHAREGISTRO], [USUARIO]) VALUES (1, N'F', N'65', CAST(0x0000A68100B08654 AS DateTime), N'32921099')
INSERT [dbo].[LGJ_EDAD_CESE] ([IDCESE], [SEXO], [EDAD], [FECHAREGISTRO], [USUARIO]) VALUES (2, N'M', N'70', CAST(0x0000A68100B08654 AS DateTime), N'32921099')
SET IDENTITY_INSERT [dbo].[LGJ_EDAD_CESE] OFF
/****** Object:  Table [dbo].[LGJ_DOCUMENTOSERVICIOS]    Script Date: 09/20/2016 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LGJ_DOCUMENTOSERVICIOS](
	[IDDOCSERVICIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[FECHAREGISTRO] [datetime] NULL,
	[USUARIO] [varchar](13) NULL,
 CONSTRAINT [PK_LGJ_DOCUMENTOSERVICIOS] PRIMARY KEY CLUSTERED 
(
	[IDDOCSERVICIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LGJ_DOCUMENTOSERVICIOS] ON
INSERT [dbo].[LGJ_DOCUMENTOSERVICIOS] ([IDDOCSERVICIO], [NOMBRE], [FECHAREGISTRO], [USUARIO]) VALUES (1, N'RESOLUCION                                                                    ', CAST(0x0000A67C00AD0478 AS DateTime), N'16149036')
INSERT [dbo].[LGJ_DOCUMENTOSERVICIOS] ([IDDOCSERVICIO], [NOMBRE], [FECHAREGISTRO], [USUARIO]) VALUES (2, N'CONTRATO                                                                      ', CAST(0x0000A67C00AD0ED8 AS DateTime), N'16149036')
INSERT [dbo].[LGJ_DOCUMENTOSERVICIOS] ([IDDOCSERVICIO], [NOMBRE], [FECHAREGISTRO], [USUARIO]) VALUES (3, N'RENOVACION DE CONTRATOS  O ADENDAS                                            ', CAST(0x0000A67C00AD2003 AS DateTime), N'16149036')
SET IDENTITY_INSERT [dbo].[LGJ_DOCUMENTOSERVICIOS] OFF
/****** Object:  Table [dbo].[LGJ_DOCUMENTOREFERENCIA]    Script Date: 09/20/2016 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LGJ_DOCUMENTOREFERENCIA](
	[IDREF] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](150) NULL,
	[FECHAREGISTRO] [datetime] NULL,
	[USUARIO] [varchar](13) NULL,
 CONSTRAINT [PK_DOCUMENTOREFERENCIA] PRIMARY KEY CLUSTERED 
(
	[IDREF] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LGJ_DOCUMENTOREFERENCIA] ON
INSERT [dbo].[LGJ_DOCUMENTOREFERENCIA] ([IDREF], [NOMBRE], [FECHAREGISTRO], [USUARIO]) VALUES (1, N'DECLARACION JURADA DE DOMICILIO                                               ', CAST(0x0000A67C00A9F8F3 AS DateTime), N'16149036')
INSERT [dbo].[LGJ_DOCUMENTOREFERENCIA] ([IDREF], [NOMBRE], [FECHAREGISTRO], [USUARIO]) VALUES (2, N'FORMULARIO DE REGIMEN PENSIONARIO                                             ', CAST(0x0000A67C00AA0ADE AS DateTime), N'16149036')
INSERT [dbo].[LGJ_DOCUMENTOREFERENCIA] ([IDREF], [NOMBRE], [FECHAREGISTRO], [USUARIO]) VALUES (3, N'PARTIDA DE NACIMIENTO                                                         ', CAST(0x0000A67C00AA380D AS DateTime), N'16149036')
SET IDENTITY_INSERT [dbo].[LGJ_DOCUMENTOREFERENCIA] OFF
/****** Object:  Table [dbo].[LGJ_DOCUMENTO_MERITO]    Script Date: 09/20/2016 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LGJ_DOCUMENTO_MERITO](
	[IDDOCMERITO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](150) NULL,
	[MERITO] [varchar](1) NULL,
	[FECHAREGISTRO] [datetime] NULL,
	[USUARIO] [varchar](13) NULL,
 CONSTRAINT [PK_LGJ_DOCUMENTO_MERITO] PRIMARY KEY CLUSTERED 
(
	[IDDOCMERITO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LGJ_DOCUMENTO_MERITO] ON
INSERT [dbo].[LGJ_DOCUMENTO_MERITO] ([IDDOCMERITO], [NOMBRE], [MERITO], [FECHAREGISTRO], [USUARIO]) VALUES (1, N'DOCUMENTO DE FELICITACIONES', N'1', CAST(0x0000A6830120621A AS DateTime), N'32921099')
INSERT [dbo].[LGJ_DOCUMENTO_MERITO] ([IDDOCMERITO], [NOMBRE], [MERITO], [FECHAREGISTRO], [USUARIO]) VALUES (2, N'AGRADECIMIENTO DE RECONOCIMIENTO', N'1', CAST(0x0000A6830120841B AS DateTime), N'32921099')
INSERT [dbo].[LGJ_DOCUMENTO_MERITO] ([IDDOCMERITO], [NOMBRE], [MERITO], [FECHAREGISTRO], [USUARIO]) VALUES (3, N'CONDECORACIONES', N'1', CAST(0x0000A68301208D9D AS DateTime), N'32921099')
SET IDENTITY_INSERT [dbo].[LGJ_DOCUMENTO_MERITO] OFF
/****** Object:  Table [dbo].[LGJ_DATOSREFERENCIA]    Script Date: 09/20/2016 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LGJ_DATOSREFERENCIA](
	[IDATOSREFERENTES] [int] IDENTITY(1,1) NOT NULL,
	[IDMASTER] [int] NULL,
	[APELLIDOSNOMBRES] [varchar](150) NULL,
	[PARENTESCO] [varchar](2) NULL,
	[FECHANACIMIENTOREFERENCIA] [varchar](10) NULL,
	[OCUPACION] [varchar](150) NULL,
	[ESTADOCIVILPARENTESCO] [varchar](2) NULL,
	[VIVE] [varchar](2) NULL,
	[USUARIO] [varchar](10) NULL,
	[DFECHAREGISTRO] [datetime] NULL,
 CONSTRAINT [PK_LGJ_DATOSREFERENCIA] PRIMARY KEY CLUSTERED 
(
	[IDATOSREFERENTES] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LGJ_DATOSREFERENCIA] ON
INSERT [dbo].[LGJ_DATOSREFERENCIA] ([IDATOSREFERENTES], [IDMASTER], [APELLIDOSNOMBRES], [PARENTESCO], [FECHANACIMIENTOREFERENCIA], [OCUPACION], [ESTADOCIVILPARENTESCO], [VIVE], [USUARIO], [DFECHAREGISTRO]) VALUES (1, 1, N'CORREA  MARIN FELICITA', N'2', N'10/05/1948', N'SU CASA', N'01', N'1', N'16149036', CAST(0x0000A67C00B0306E AS DateTime))
INSERT [dbo].[LGJ_DATOSREFERENCIA] ([IDATOSREFERENTES], [IDMASTER], [APELLIDOSNOMBRES], [PARENTESCO], [FECHANACIMIENTOREFERENCIA], [OCUPACION], [ESTADOCIVILPARENTESCO], [VIVE], [USUARIO], [DFECHAREGISTRO]) VALUES (2, 1, N'ABANTO  SILVA JOSÉ', N'1', N'07/07/1946', N'SU CASA', N'01', N'1', N'16149036', CAST(0x0000A67C00B0879C AS DateTime))
INSERT [dbo].[LGJ_DATOSREFERENCIA] ([IDATOSREFERENTES], [IDMASTER], [APELLIDOSNOMBRES], [PARENTESCO], [FECHANACIMIENTOREFERENCIA], [OCUPACION], [ESTADOCIVILPARENTESCO], [VIVE], [USUARIO], [DFECHAREGISTRO]) VALUES (3, 1, N'BOJORQUEZ  ABANTO DENY', N'3', N'18/12/1988', N'ESTUDIANTE', N'01', N'1', N'16149036', CAST(0x0000A67C00B0E147 AS DateTime))
SET IDENTITY_INSERT [dbo].[LGJ_DATOSREFERENCIA] OFF
/****** Object:  Table [dbo].[LGJ_DAPRECIACION]    Script Date: 09/20/2016 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LGJ_DAPRECIACION](
	[IDDAPRE] [int] IDENTITY(1,1) NOT NULL,
	[IDAPRE] [int] NULL,
	[IDCRITERIO] [int] NULL,
	[CRITERIO] [varchar](150) NULL,
	[PUNTAJE] [numeric](8, 3) NULL,
	[FECHAREGISTRO] [datetime] NULL,
	[USUARIO] [varchar](13) NULL,
 CONSTRAINT [PK_DAPRECIACION] PRIMARY KEY CLUSTERED 
(
	[IDDAPRE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LGJ_CRITERO_EVALUACION]    Script Date: 09/20/2016 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LGJ_CRITERO_EVALUACION](
	[IDCRITERO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[FECHAREGISTRO] [datetime] NULL,
	[USUARIO] [varchar](13) NULL,
 CONSTRAINT [PK_LGJ_CRITERO_EVALUACION] PRIMARY KEY CLUSTERED 
(
	[IDCRITERO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LGJ_CRITERO_EVALUACION] ON
INSERT [dbo].[LGJ_CRITERO_EVALUACION] ([IDCRITERO], [NOMBRE], [FECHAREGISTRO], [USUARIO]) VALUES (1, N'DESEMPEÑO Y CONDUCTA                              ', CAST(0x0000A67C00F0E363 AS DateTime), N'32921099')
INSERT [dbo].[LGJ_CRITERO_EVALUACION] ([IDCRITERO], [NOMBRE], [FECHAREGISTRO], [USUARIO]) VALUES (3, N'ASISTENCIA                                        ', CAST(0x0000A67C00F17421 AS DateTime), N'32921099')
INSERT [dbo].[LGJ_CRITERO_EVALUACION] ([IDCRITERO], [NOMBRE], [FECHAREGISTRO], [USUARIO]) VALUES (4, N'PUNTUALIDAD                                       ', CAST(0x0000A67C00F17A1D AS DateTime), N'32921099')
SET IDENTITY_INSERT [dbo].[LGJ_CRITERO_EVALUACION] OFF
/****** Object:  Table [dbo].[LGJ_CARGO_LABORAL]    Script Date: 09/20/2016 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LGJ_CARGO_LABORAL](
	[IDCARGOLABORAL] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](25) NULL,
	[FECHAREGISTRO] [datetime] NULL,
	[USUARIO] [varchar](13) NULL,
 CONSTRAINT [PK_LGJ_CARGO_LABORAL] PRIMARY KEY CLUSTERED 
(
	[IDCARGOLABORAL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LGJ_CARGO_LABORAL] ON
INSERT [dbo].[LGJ_CARGO_LABORAL] ([IDCARGOLABORAL], [NOMBRE], [FECHAREGISTRO], [USUARIO]) VALUES (1, N'DIRECTIVOS               ', CAST(0x0000A67C00F830F8 AS DateTime), N'32921099')
INSERT [dbo].[LGJ_CARGO_LABORAL] ([IDCARGOLABORAL], [NOMBRE], [FECHAREGISTRO], [USUARIO]) VALUES (2, N'TECNICOS                 ', CAST(0x0000A67C00F839EE AS DateTime), N'32921099')
INSERT [dbo].[LGJ_CARGO_LABORAL] ([IDCARGOLABORAL], [NOMBRE], [FECHAREGISTRO], [USUARIO]) VALUES (3, N'PROFESIONALES            ', CAST(0x0000A67C00F8406B AS DateTime), N'32921099')
SET IDENTITY_INSERT [dbo].[LGJ_CARGO_LABORAL] OFF
/****** Object:  Table [dbo].[LGJ_CAPACITACION]    Script Date: 09/20/2016 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LGJ_CAPACITACION](
	[IDCAPACITACION] [int] IDENTITY(1,1) NOT NULL,
	[IDMASTER] [int] NULL,
	[IDCONDICIONPARTICIPACION] [int] NULL,
	[NOMBREPARTICIPACION] [varchar](150) NULL,
	[IDTIPOEVENTO] [int] NULL,
	[NOMBREEVENTO] [varchar](150) NULL,
	[IDTIPOMODALIDAD] [int] NULL,
	[MODALIDAD] [varchar](150) NULL,
	[ENTIDAD] [varchar](150) NULL,
	[DESCRIPCION] [varchar](200) NULL,
	[FECHAINICIO] [varchar](10) NULL,
	[FECHAFIN] [varchar](10) NULL,
	[HORASACADEMICAS] [varchar](3) NULL,
	[LUGAR] [varchar](150) NULL,
	[FECHAREGISTRO] [datetime] NULL,
	[USUARIO] [varchar](13) NULL,
 CONSTRAINT [PK_LGJ_CAPACITACION] PRIMARY KEY CLUSTERED 
(
	[IDCAPACITACION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LGJ_CAPACITACION] ON
INSERT [dbo].[LGJ_CAPACITACION] ([IDCAPACITACION], [IDMASTER], [IDCONDICIONPARTICIPACION], [NOMBREPARTICIPACION], [IDTIPOEVENTO], [NOMBREEVENTO], [IDTIPOMODALIDAD], [MODALIDAD], [ENTIDAD], [DESCRIPCION], [FECHAINICIO], [FECHAFIN], [HORASACADEMICAS], [LUGAR], [FECHAREGISTRO], [USUARIO]) VALUES (1, 1, 1, N'ASISTENTE', 1, N'CURSO', 1, N'PRESENCIAL', N'SOCIPTAS', N'MANEJO DEL PACINTE EN CIRUGIA CENTRO QUIRURGICO, CENTRAL DE ESTERILIZACION Y COMPLICACIONES DE  POST OPERATORIO', N'28/04/2016', N'29/04/2016', N'02', N'SOCIPTAS', CAST(0x0000A67C00FEC41A AS DateTime), N'16149036')
INSERT [dbo].[LGJ_CAPACITACION] ([IDCAPACITACION], [IDMASTER], [IDCONDICIONPARTICIPACION], [NOMBREPARTICIPACION], [IDTIPOEVENTO], [NOMBREEVENTO], [IDTIPOMODALIDAD], [MODALIDAD], [ENTIDAD], [DESCRIPCION], [FECHAINICIO], [FECHAFIN], [HORASACADEMICAS], [LUGAR], [FECHAREGISTRO], [USUARIO]) VALUES (2, 1, 1, N'ASISTENTE', 2, N'CURSO TALLER', 1, N'PRESENCIAL', N'HOSPITAL JATCH', N'AUTOCONOCIMIENTO Y FORTALECIMIENTO DE  VALORES', N'22/01/2016', N'22/01/2016', N'06', N'HOSPITAL JATCH', CAST(0x0000A67C00FF35FA AS DateTime), N'16149036')
INSERT [dbo].[LGJ_CAPACITACION] ([IDCAPACITACION], [IDMASTER], [IDCONDICIONPARTICIPACION], [NOMBREPARTICIPACION], [IDTIPOEVENTO], [NOMBREEVENTO], [IDTIPOMODALIDAD], [MODALIDAD], [ENTIDAD], [DESCRIPCION], [FECHAINICIO], [FECHAFIN], [HORASACADEMICAS], [LUGAR], [FECHAREGISTRO], [USUARIO]) VALUES (3, 2, 1, N'ASISTENTE', 1, N'CURSO', 1, N'PRESENCIAL', N'CICATEC-SALUD', N'ABC EN LAS EMERGENCIAS PEDIATRICAS I NEONATALES', N'12/02/2016', N'14/02/2016', N'36', N'U.T.P-PETI THOUARS 315', CAST(0x0000A67F00C0FEFD AS DateTime), N'16149036')
SET IDENTITY_INSERT [dbo].[LGJ_CAPACITACION] OFF
