/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT [RAYOSX]
      ,[NUMERO]
      ,[PAGOID]
      ,[FECHA]
      ,[PROGRAMADO]
      ,[FECHA_PROGRAMADO]
      ,[SEGURO]
      ,[PACIENTE]
      ,[NOMBRES]
      ,[TELEFONO]
      ,[TIPO_EDAD]
      ,[EDAD]
      ,[SEXO]
      ,[MEDICO]
      ,[PROFESIONAL]
      ,[UPS]
      ,[HIS_CODSERVICIO]
      ,[HIS_NOMSERVICIO]
      ,[B18_24]
      ,[B24_30]
      ,[B30_40]
      ,[B14_14]
      ,[B14_17]
      ,[M18_24]
      ,[M24_30]
      ,[M30_40]
      ,[M14_14]
      ,[M14_17]
      ,[OBSERVACION]
      ,[EXONERADO]
      ,[INFORME]
      ,[ENTREGADO]
      ,[FAMILIAR]
      ,[RESPONSABLE]
      ,[USUARIO]
  FROM [SIGSALUD].[dbo].[RAYOSX] ORDER BY FECHA DESC
  
  USE SIGSALUD
  SELECT FECHA, PAGOID,PACIENTE,NOMBRE, NUMERO FROM PAGOC WHERE NUMERO='001-1561298' AND YEAR(FECHA)=2015
  
  SELECT FECHA, PAGOID,PACIENTE,NOMBRE, NUMERO FROM PAGOC ORDER BY FECHA DESC
  
  SELECT PAGOID,ITEM,NOMBRE_ITEM,CANTIDAD,PRECIO,IMPORTE 
   FROM V_PAGOD_DAD WHERE NUMERO='001-1561298' AND CLASIFICADOR=? AND YEAR(FECHA)=? ORDER BY NOMBRE_ITEM ASC
   

SELECT A.PAGOID, A.FECHA, A.NUMERO, B.ITEM, C.NOMBRE AS NOMBRE_ITEM, B.CANTIDAD, B.PRECIO, B.IMPORTE, C.GRUPO_RECAUDACION, C.CLASIFICADOR
  FROM dbo.PAGOC AS A INNER JOIN
       dbo.PAGOD AS B ON A.PAGOID = B.PAGOID INNER JOIN
         dbo.ITEM AS C ON B.ITEM = C.ITEM WHERE A.NUMERO='001-1561298'