USE [SIGSALUD]
GO
/****** Object:  StoredProcedure [dbo].[SP_RAYOSX_PLACAS]    Script Date: 08/20/2015 16:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[SP_RAYOSX_PLACAS](
@seguro CHAR(2),
@inicio VARCHAR(10),
@fin VARCHAR(10)
) AS BEGIN

	SET LANGUAGE SPANISH

	SELECT 'TOTAL' AS PELICULAS, 
	ISNULL(SUM(B18_24+B24_30+B30_40+B14_14+B14_17+M18_24+M24_30+M30_40+M14_14+M14_17),0) AS TOTAL,
	ISNULL(SUM(B18_24+M18_24),0) AS B18_24,ISNULL(SUM(B24_30+M24_30),0) AS B24_30,ISNULL(SUM(B30_40+M30_40),0) AS B30_40,
	ISNULL(SUM(B14_14+M14_14),0) AS B14_14,ISNULL(SUM(B14_17+M14_17),0) AS B14_17 FROM RAYOSX WHERE SEGURO=@seguro AND FECHA BETWEEN @inicio AND @fin
	
	UNION ALL

	SELECT 'PELICULAS CONFORMES' AS PELICULAS, 
	ISNULL(SUM(B18_24+B24_30+B30_40+B14_14+B14_17),0) AS TOTAL,
	ISNULL(SUM(B18_24),0) AS B18_24,ISNULL(SUM(B24_30),0) AS B24_30,ISNULL(SUM(B30_40),0) AS B30_40,ISNULL(SUM(B14_14),0) AS B14_14,
	ISNULL(SUM(B14_17),0) AS B14_17	FROM RAYOSX WHERE SEGURO=@seguro AND FECHA BETWEEN @inicio AND @fin
	
	UNION ALL
	
	SELECT 'PELICULAS FALLADAS' AS PELICULAS, 
	ISNULL(SUM(M18_24+M24_30+M30_40+M14_14+M14_17),0) AS TOTAL,
	ISNULL(SUM(M18_24),0) AS M18_24,ISNULL(SUM(M24_30),0) AS M24_30,ISNULL(SUM(M30_40),0) AS M30_40,ISNULL(SUM(M14_14),0) AS M14_14,
	ISNULL(SUM(M14_17),0) AS M14_17  FROM RAYOSX
	WHERE SEGURO=@seguro AND FECHA BETWEEN @inicio AND @fin
	
END
	


