/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT [IDCRITERO],[NOMBRE],[PUNTAJE],[IDAPRE],[IDDAPRE]  FROM [BDPERSONAL].[dbo].[V_LGJ_DAPRECIACION]

SELECT [IDAPRE],[IDMASTER],[FECHAEVALUACION],[IDCONDICIONSERVIDOR],[TOTALPUNTAJE],[RANGOCALIFICACION],[EVALUADOR],[FECHAREGISTRO],[USUARIO]
  FROM [BDPERSONAL].[dbo].[LGJ_MAPRECIACION] where IDMASTER = 3
  
  
SELECT [IDCRITERO],[NOMBRE],[PUNTAJE],[IDAPRE],[IDDAPRE]  FROM [BDPERSONAL].[dbo].[V_LGJ_DAPRECIACION] 
where idapre = 0

/* truncate table dbo.LGJ_CRITERO_EVALUACION */
  
  