/* CUENTA LA CANTIDAD DE HORAS PARA LAS ACTIVIDADES */
declare @lnmes int = 7
declare @lcanio varchar(4) = '2017'

/* OBTIENE NOMBRES */
select A.CODIGO, C.NOMBRE
   from [BDPERSONAL].[dbo].[ACTIVIDAD_DETALLE] A LEFT JOIN [BDPERSONAL].[dbo].[ACTIVIDADES] B ON A.ID_ACTIVIDAD = B.ID_ACTIVIDAD
    LEFT JOIN  [BDPERSONAL].[dbo].[MAESTRO] C ON A.CODIGO = C.CODIGO
          where A.ANIO = @lcanio and A.MES = @lnmes GROUP BY A.CODIGO, C.NOMBRE ORDER BY NOMBRE ASC
          

/* OBTIENE DETALLES */
 
 select  A.ID_ACTIVIDAD, B.NOMBRE  from [BDPERSONAL].[dbo].[ACTIVIDAD_DETALLE] A LEFT JOIN [BDPERSONAL].[dbo].[ACTIVIDADES] B ON A.ID_ACTIVIDAD = B.ID_ACTIVIDAD
    LEFT JOIN  [BDPERSONAL].[dbo].[MAESTRO] C ON A.CODIGO = C.CODIGO
      where A.ANIO = '2017' and A.MES = 7 AND
      C.CODIGO = '054008' GROUP BY A.ID_ACTIVIDAD, B.NOMBRE 
      
      

/* EMPIEZA A CONTAR POR ACTIVIDAD*/

select A.CODIGO, SUBSTRING(A.TURNO,1,1) TIPO_TURNO1, COUNT(SUBSTRING(A.TURNO,1,1)) AS CANTIDAD_TURNO1, SUBSTRING(A.TURNO,2,1) AS TIPO_TURNO2, COUNT(SUBSTRING(A.TURNO,2,1)) AS CANTIDAD_TURNO2
from [BDPERSONAL].[dbo].[ACTIVIDAD_DETALLE] A LEFT JOIN [BDPERSONAL].[dbo].[ACTIVIDADES] B ON A.ID_ACTIVIDAD = B.ID_ACTIVIDAD
    LEFT JOIN  [BDPERSONAL].[dbo].[MAESTRO] C ON A.CODIGO = C.CODIGO
      where A.ANIO = '2017' and A.MES = 7 AND
      C.CODIGO = '054008' AND A.ID_ACTIVIDAD = '1' GROUP BY A.CODIGO, SUBSTRING(A.TURNO,1,1), SUBSTRING(A.TURNO,2,1)



