USE [BDPERSONAL]
GO
/****** Object:  Table [dbo].[LGJ_UNIVERSIDADES]    Script Date: 11/24/2016 17:03:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LGJ_UNIVERSIDADES](
	[IDUNI] [int] NOT NULL,
	[UNIVERSIDAD] [varchar](250) NULL,
	[GESTION] [varchar](10) NULL,
	[SITUACION] [varchar](50) NULL,
	[REGION] [varchar](50) NULL,
	[DIRECCION] [varchar](150) NULL,
	[WEB] [varchar](50) NULL,
 CONSTRAINT [PK_LGJ_UNIVERSIDADES] PRIMARY KEY CLUSTERED 
(
	[IDUNI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[LGJ_UNIVERSIDADES] ([IDUNI], [UNIVERSIDAD], [GESTION], [SITUACION], [REGION], [DIRECCION], [WEB]) VALUES (1, N'UNIVERSIDAD NACIONAL  MAYOR DE SAN MARCOS', N'PÚBLICA', N'INSTITUCIONALIZADA', N'LIMA', N'AV. VENEZUELA S/N, CDRA. 34. LIMA', N'www.unmsm.edu.pe')
INSERT [dbo].[LGJ_UNIVERSIDADES] ([IDUNI], [UNIVERSIDAD], [GESTION], [SITUACION], [REGION], [DIRECCION], [WEB]) VALUES (2, N'UNIVERSIDAD NACIONAL  DE INGENIERÍA', N'PÚBLICA', N'INSTITUCIONALIZADA', N'LIMA', N'AV. TÚPAC AMARU N° 210, RÍMAC. LIMA', N'www.uni.edu.pe')
INSERT [dbo].[LGJ_UNIVERSIDADES] ([IDUNI], [UNIVERSIDAD], [GESTION], [SITUACION], [REGION], [DIRECCION], [WEB]) VALUES (3, N'UNIVERSIDAD NACIONAL  AGRARIA LA MOLINA', N'PÚBLICA', N'INSTITUCIONALIZADA', N'LIMA', N'AV. LA MOLINA S/N, LA MOLINA. LIMA', N'www.lamolina.edu.pe')
GO
print 'Processed 100 total records'
