USE [BDPERSONAL]
GO
/****** Object:  Table [dbo].[REGISTROS140218]    Script Date: 02/14/2018 12:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGISTROS140218](
	[codigo] [float] NULL,
	[fecha] [datetime] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[REGISTROS140218] ([codigo], [fecha]) VALUES (18146023, CAST(0x0000A880015A2480 AS DateTime))
INSERT [dbo].[REGISTROS140218] ([codigo], [fecha]) VALUES (4005617, CAST(0x0000A880015D14D8 AS DateTime))
INSERT [dbo].[REGISTROS140218] ([codigo], [fecha]) VALUES (9879103, CAST(0x0000A880016B0FC0 AS DateTime))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
