USE [BDPERSONAL]
GO
/****** Object:  Table [dbo].[RESTA_ACTIVIDAD]    Script Date: 12/06/2017 11:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RESTA_ACTIVIDAD](
	[ID_ACTIVIDAD_DET] [int] IDENTITY(1,1) NOT NULL,
	[ID_ACTIVIDAD] [int] NULL,
	[CODIGO] [nvarchar](6) NULL,
	[DIA] [real] NULL,
	[MES] [real] NULL,
	[ANIO] [real] NULL,
	[ESTADO] [char](1) NULL,
	[TURNO] [varchar](2) NULL,
	[HORAS] [numeric](8, 0) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[RESTA_ACTIVIDAD] ON
INSERT [dbo].[RESTA_ACTIVIDAD] ([ID_ACTIVIDAD_DET], [ID_ACTIVIDAD], [CODIGO], [DIA], [MES], [ANIO], [ESTADO], [TURNO], [HORAS]) VALUES (59988, 1, N'084042', 5, 12, 2017, N'1', N'MT', CAST(12 AS Numeric(8, 0)))
INSERT [dbo].[RESTA_ACTIVIDAD] ([ID_ACTIVIDAD_DET], [ID_ACTIVIDAD], [CODIGO], [DIA], [MES], [ANIO], [ESTADO], [TURNO], [HORAS]) VALUES (59989, 1, N'084042', 8, 12, 2017, N'1', N'MT', CAST(12 AS Numeric(8, 0)))
INSERT [dbo].[RESTA_ACTIVIDAD] ([ID_ACTIVIDAD_DET], [ID_ACTIVIDAD], [CODIGO], [DIA], [MES], [ANIO], [ESTADO], [TURNO], [HORAS]) VALUES (59992, 1, N'084042', 12, 12, 2017, N'1', N'MT', CAST(12 AS Numeric(8, 0)))
SET IDENTITY_INSERT [dbo].[RESTA_ACTIVIDAD] OFF
