USE [BDPERSONAL]
GO
/****** Object:  Table [dbo].[tmp_falta_personal_total]    Script Date: 03/02/2017 11:47:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tmp_falta_personal_total](
	[CODIGO] [nvarchar](6) NULL,
	[CODACT] [nvarchar](4) NULL,
	[DIA] [real] NULL,
	[MES] [real] NULL,
	[AÑO] [real] NULL,
	[TIPO] [nvarchar](1) NULL,
	[HORAI] [time](0) NULL,
	[HORAS] [time](0) NULL,
	[HORAI_REG] [time](0) NULL,
	[HORAS_REG] [time](0) NULL,
	[HORA_PRG] [nvarchar](6) NULL,
	[MIN_ADIC] [nvarchar](6) NULL,
	[OBSERVACION] [nvarchar](50) NULL,
	[FALTA] [real] NULL,
	[TARDANZA] [real] NULL,
	[PERMISO] [real] NULL,
	[PRODUCTIVA] [real] NULL,
	[INDICADOR] [real] NULL,
	[SITUACION] [char](2) NULL,
	[HORAI_REG1] [time](0) NULL,
	[HORAS_REG1] [time](0) NULL,
	[IdServDepartUnid] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tmp_falta_personal_total] ([CODIGO], [CODACT], [DIA], [MES], [AÑO], [TIPO], [HORAI], [HORAS], [HORAI_REG], [HORAS_REG], [HORA_PRG], [MIN_ADIC], [OBSERVACION], [FALTA], [TARDANZA], [PERMISO], [PRODUCTIVA], [INDICADOR], [SITUACION], [HORAI_REG1], [HORAS_REG1], [IdServDepartUnid]) VALUES (N'054068', N'D', 4, 3, 2017, N'F', CAST(0x0000000000000000 AS Time), CAST(0x0000000000000000 AS Time), NULL, NULL, N'D', NULL, N'.', 0, 0, 0, NULL, 1, N'  ', NULL, NULL, NULL)
INSERT [dbo].[tmp_falta_personal_total] ([CODIGO], [CODACT], [DIA], [MES], [AÑO], [TIPO], [HORAI], [HORAS], [HORAI_REG], [HORAS_REG], [HORA_PRG], [MIN_ADIC], [OBSERVACION], [FALTA], [TARDANZA], [PERMISO], [PRODUCTIVA], [INDICADOR], [SITUACION], [HORAI_REG1], [HORAS_REG1], [IdServDepartUnid]) VALUES (N'054068', N'M4', 8, 3, 2017, N'F', CAST(0x0080700000000000 AS Time), CAST(0x0074D60000000000 AS Time), NULL, NULL, N'D', NULL, N'.', 0, 0, 0, NULL, 1, N'  ', NULL, NULL, NULL)
INSERT [dbo].[tmp_falta_personal_total] ([CODIGO], [CODACT], [DIA], [MES], [AÑO], [TIPO], [HORAI], [HORAS], [HORAI_REG], [HORAS_REG], [HORA_PRG], [MIN_ADIC], [OBSERVACION], [FALTA], [TARDANZA], [PERMISO], [PRODUCTIVA], [INDICADOR], [SITUACION], [HORAI_REG1], [HORAS_REG1], [IdServDepartUnid]) VALUES (N'054068', N'D', 12, 3, 2017, N'F', CAST(0x0000000000000000 AS Time), CAST(0x0000000000000000 AS Time), NULL, NULL, N'D', NULL, N'.', 0, 0, 0, NULL, 1, N'  ', NULL, NULL, NULL)
