USE [BDPERSONAL]
GO
/****** Object:  Table [dbo].[ASISTENCIA08022018]    Script Date: 02/08/2018 11:52:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASISTENCIA08022018](
	[CODIGO] [float] NULL,
	[FECHA] [datetime] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ASISTENCIA08022018] ([CODIGO], [FECHA]) VALUES (20902063, CAST(0x0000A87A00C832C8 AS DateTime))
INSERT [dbo].[ASISTENCIA08022018] ([CODIGO], [FECHA]) VALUES (7678050, CAST(0x0000A87A00D68918 AS DateTime))
INSERT [dbo].[ASISTENCIA08022018] ([CODIGO], [FECHA]) VALUES (40391148, CAST(0x0000A87A00D75ADC AS DateTime))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
