USE [BDPERSONAL]
GO
/****** Object:  Table [dbo].[asueldos]    Script Date: 03/06/2018 10:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[asueldos](
	[NOMBRES] [nvarchar](255) NULL,
	[CARGO] [nvarchar](255) NULL,
	[NIVEL] [nvarchar](255) NULL,
	[F4] [float] NULL,
	[F5] [float] NULL,
	[HABER] [float] NULL,
	[GRABO] [varchar](1) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[asueldos] ([NOMBRES], [CARGO], [NIVEL], [F4], [F5], [HABER], [GRABO]) VALUES (N'CALDERON ARELLAN MARITZA', N'0470-OBSTETRA', N'1', 1747.85, 941.15, 2689, N'')
INSERT [dbo].[asueldos] ([NOMBRES], [CARGO], [NIVEL], [F4], [F5], [HABER], [GRABO]) VALUES (N'CHAVEZ PALACIN ERICA NILDA', N'0470-OBSTETRA', N'1', 1747.85, 941.15, 2689, N'')
INSERT [dbo].[asueldos] ([NOMBRES], [CARGO], [NIVEL], [F4], [F5], [HABER], [GRABO]) VALUES (N'HOLGADO CARDENAS DACIA MIGDALIA', N'0470-OBSTETRA', N'1', 1747.85, 941.15, 2689, N'')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
