USE [BDPERSONAL]
GO
/****** Object:  Table [dbo].[RESTAURAR_ASISTENCIA_MEDICO]    Script Date: 12/06/2017 11:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RESTAURAR_ASISTENCIA_MEDICO](
	[CODIGO] [nvarchar](6) NULL,
	[CODACT] [nvarchar](4) NULL,
	[DIA] [real] NULL,
	[MES] [real] NULL,
	[AÑO] [real] NULL,
	[TIPO] [nvarchar](1) NULL,
	[HORAI] [time](0) NULL,
	[HORAS] [time](0) NULL,
	[HORAI_REG] [time](0) NULL,
	[HORAS_REG] [time](0) NULL,
	[HORA_PRG] [nvarchar](6) NULL,
	[MIN_ADIC] [nvarchar](6) NULL,
	[OBSERVACION] [nvarchar](50) NULL,
	[FALTA] [real] NULL,
	[TARDANZA] [real] NULL,
	[PERMISO] [real] NULL,
	[PRODUCTIVA] [real] NULL,
	[INDICADOR] [real] NULL,
	[SITUACION] [char](2) NULL,
	[HORAI_REG1] [time](0) NULL,
	[HORAS_REG1] [time](0) NULL,
	[IdServDepartUnid] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[RESTAURAR_ASISTENCIA_MEDICO] ([CODIGO], [CODACT], [DIA], [MES], [AÑO], [TIPO], [HORAI], [HORAS], [HORAI_REG], [HORAS_REG], [HORA_PRG], [MIN_ADIC], [OBSERVACION], [FALTA], [TARDANZA], [PERMISO], [PRODUCTIVA], [INDICADOR], [SITUACION], [HORAI_REG1], [HORAS_REG1], [IdServDepartUnid]) VALUES (N'084357', N'D', 1, 12, 2017, N'V', CAST(0x0000000000000000 AS Time), CAST(0x0000000000000000 AS Time), NULL, NULL, N'D', NULL, NULL, 0, 0, 0, 0, 1, N'  ', NULL, NULL, 41)
INSERT [dbo].[RESTAURAR_ASISTENCIA_MEDICO] ([CODIGO], [CODACT], [DIA], [MES], [AÑO], [TIPO], [HORAI], [HORAS], [HORAI_REG], [HORAS_REG], [HORA_PRG], [MIN_ADIC], [OBSERVACION], [FALTA], [TARDANZA], [PERMISO], [PRODUCTIVA], [INDICADOR], [SITUACION], [HORAI_REG1], [HORAS_REG1], [IdServDepartUnid]) VALUES (N'084357', N'GD1', 2, 12, 2017, N'V', CAST(0x0080700000000000 AS Time), CAST(0x0040190100000000 AS Time), NULL, NULL, N'D', NULL, NULL, 0, 0, 0, 0, 1, N'  ', NULL, NULL, 41)
INSERT [dbo].[RESTAURAR_ASISTENCIA_MEDICO] ([CODIGO], [CODACT], [DIA], [MES], [AÑO], [TIPO], [HORAI], [HORAS], [HORAI_REG], [HORAS_REG], [HORA_PRG], [MIN_ADIC], [OBSERVACION], [FALTA], [TARDANZA], [PERMISO], [PRODUCTIVA], [INDICADOR], [SITUACION], [HORAI_REG1], [HORAS_REG1], [IdServDepartUnid]) VALUES (N'084357', N'D', 3, 12, 2017, N'V', CAST(0x0000000000000000 AS Time), CAST(0x0000000000000000 AS Time), NULL, NULL, N'D', NULL, NULL, 0, 0, 0, 0, 1, N'  ', NULL, NULL, 41)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
