USE [BDPERSONAL]
GO
/****** Object:  Table [dbo].[CADENA_NOMBRADO_2018]    Script Date: 04/20/2018 12:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CADENA_NOMBRADO_2018](
	[NOMBRE] [varchar](150) NULL,
	[CARGO] [varchar](150) NULL,
	[NIVEL] [varchar](150) NULL,
	[SECUENCIA] [varchar](150) NULL,
	[DNI] [varchar](150) NULL,
	[PROGRAMA_PPTAL] [varchar](255) NULL,
	[PRODUCTO] [varchar](150) NULL,
	[ACTIV_OBRA_ACCINV] [varchar](150) NULL,
	[FUNCION] [varchar](150) NULL,
	[DIV_FUNC] [varchar](150) NULL,
	[GRUP_FUNC] [varchar](150) NULL,
	[META] [varchar](150) NULL,
	[FINALIDAD] [varchar](150) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CADENA_NOMBRADO_2018] ([NOMBRE], [CARGO], [NIVEL], [SECUENCIA], [DNI], [PROGRAMA_PPTAL], [PRODUCTO], [ACTIV_OBRA_ACCINV], [FUNCION], [DIV_FUNC], [GRUP_FUNC], [META], [FINALIDAD]) VALUES (N'ABANTO CORREA MARIA ENEDINA', N'1581-TEC. EN ENFERMERIA I', N'TC', N'1138-0018', N'09301543', N'0002. SALUD MATERNO NEONATAL', N'3033295. ATENCION DEL PARTO NORMAL', N'5000045. BRINDAR ATENCION DE PARTO NORMAL', N'20. SALUD', N'044. SALUD INDIVIDUAL', N'0096. ATENCION MEDICA BASICA', N'00001', N'0033295. ATENCION DEL PARTO NORMAL')
INSERT [dbo].[CADENA_NOMBRADO_2018] ([NOMBRE], [CARGO], [NIVEL], [SECUENCIA], [DNI], [PROGRAMA_PPTAL], [PRODUCTO], [ACTIV_OBRA_ACCINV], [FUNCION], [DIV_FUNC], [GRUP_FUNC], [META], [FINALIDAD]) VALUES (N'ACOSTA VIGILIO FAUSTO EULER', N'1581-TEC. EN ENFERMERIA I', N'TC', N'1138-0106', N'22521614', N'9002. ASIGNACIONES PRESUPUESTARIAS QUE NO RESULTAN EN PRODUCTOS', N'3999999. SIN PRODUCTO', N'5001279. VIGILANCIA DE LOS RIESGOS PARA LA SALUD', N'20. SALUD', N'043. SALUD COLECTIVA', N'0094. CONTROL EPIDEMIOLOGICO', N'00001', N'0001477. VIGILANCIA SANITARIA')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
