USE [BDPERSONAL]
GO
/****** Object:  Table [dbo].[CADENA_NOMBRADO]    Script Date: 02/03/2017 16:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CADENA_NOMBRADO](
	[NOMBRE] [varchar](255) NULL,
	[CARGO] [varchar](255) NULL,
	[NIVEL] [varchar](255) NULL,
	[SECUENCIA] [varchar](255) NULL,
	[DNI] [varchar](150) NULL,
	[PROGRAMA_PPTAL] [varchar](255) NULL,
	[PRODUCTO] [varchar](150) NULL,
	[activ_obra_accinv] [varchar](150) NULL,
	[FUNCION] [varchar](150) NULL,
	[DIV_FUNC] [varchar](150) NULL,
	[GRUP_FUNC] [varchar](150) NULL,
	[META] [varchar](150) NULL,
	[FINALIDAD] [varchar](150) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CADENA_NOMBRADO] ([NOMBRE], [CARGO], [NIVEL], [SECUENCIA], [DNI], [PROGRAMA_PPTAL], [PRODUCTO], [activ_obra_accinv], [FUNCION], [DIV_FUNC], [GRUP_FUNC], [META], [FINALIDAD]) VALUES (N'ABANTO CORREA MARIA ENEDINA', N'1581-TEC. EN ENFERMERIA I', N'TC', N'1574-0018', N'09301543', N'0002', N'3033295. ATENCION DEL PARTO NORMAL', N'5000045. BRINDAR ATENCION DE PARTO NORMAL', N'20. SALUD', N'044. SALUD INDIVIDUAL', N'0096. ATENCION MEDICA BASICA', N'00001', N'0033295. ATENCION DEL PARTO NORMAL')
INSERT [dbo].[CADENA_NOMBRADO] ([NOMBRE], [CARGO], [NIVEL], [SECUENCIA], [DNI], [PROGRAMA_PPTAL], [PRODUCTO], [activ_obra_accinv], [FUNCION], [DIV_FUNC], [GRUP_FUNC], [META], [FINALIDAD]) VALUES (N'ALARCON DEZA EVARISTA BERONICA', N'1581-TEC. EN ENFERMERIA I', N'TC', N'1574-0101', N'16170198', N'9001', N'3999999. SIN PRODUCTO', N'5000003. GESTION ADMINISTRATIVA', N'20. SALUD', N'006. GESTION', N'0008. ASESORAMIENTO Y APOYO', N'00001', N'0000009. ACCIONES ADMINISTRATIVAS')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
