/* analisis de la actividad */
USE BDPERSONAL
 select * from [BDPERSONAL].[dbo].[ACTIVIDAD_DETALLE] where codigo = '084229' and MES = 7 and ANIO = 2017
 SELECT * FROM [BDPERSONAL].[dbo].[ACTIVIDADES] WHERE ID_ACTIVIDAD = 1
 
  

/*
ACTIVO = 1 - MEDICO
- ACTIVO = 2- OBSTETRA
- ACTIVO = 3 - NUTRICION 
 ACTIVO = 4 - PEDIATRIA
 
 */