/* ARREGLAR PERSONAL */


  update [BDPERSONAL].[dbo].[ACTIVIDADES] set nombre = 'HOSPIT. NEO' where ID_ACTIVIDAD = 32
  update [BDPERSONAL].[dbo].[ACTIVIDADES] set nombre = 'HOSPIT. PEDIATRIA' where ID_ACTIVIDAD = 33
  
  
  
  
HOSPIT. NEO
HOSPIT. PEDIATRIA