/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT TOP 5000 [CODIGO]
      ,[NOMBRE]
      ,[DNI]
      ,[CARGO1]
      ,[TIPO_TRABAJADOR]
      ,[CODHORA]
      ,[CODTAR]
      ,[HABER]
      ,[HORAS]
      ,[DNI_RELOG]
      ,[COSTO_HORA]
      ,[MINUTOS_DESCONTAR]
      ,[FALTA]
      ,[HORAS_TARDE]
      ,[MINUTOS_TARDE]
      ,[HORAS_TARDANZA]
  FROM [BDPERSONAL].[dbo].[TMPPERSONAL]
  
    SELECT CODIGO, NOMBRE, DNI, CARGO1, TIPO_TRABAJADOR, CODHORA, CODTAR, HABER, HORAS, DNI_RELOG, COSTO_HORA, MINUTOS_DESCONTAR, FALTA, HORAS_TARDE, MINUTOS_TARDE, HORAS_TARDANZA,
    COSTO_HORA*HORAS_TARDANZA as descuento    FROM TMPPERSONAL ORDER BY nombre asc
    
    select * from maEstro where nombre like '%CHACA%'
    
    select * from ASISTENCIA where CODIGO = '084315' AND MES = '6' AND AÑO = '2015'
    
    SELECT * FROM RELOGDIGI WHERE Codigo = 10500450 AND FECHA BETWEEN CONVERT(DATETIME, '2015-06-01', 101) AND CONVERT(DATETIME, '2015-06-30', 101) ORDER BY Fecha ASC
    
     SELECT MAESTRO.CODIGO, MAESTRO.NOMBRE, DNI, CODFUNCION, UPPER((SELECT T_CargoFuncional.NOMBRE FROM T_CARGOFUNCIONAL WHERE MAESTRO.CODFUNCION= T_CARGOFUNCIONAL.CODIGO)) AS CARGO1,
    (SELECT TIPO FROM T_GRUPO WHERE CODIGO = (SELECT CODGRP FROM T_CargoFuncional WHERE CODIGO = CODFUNCION)) AS TIPO_TRABAJADOR,
   CODHORA, CODTAR, HABER, HORAS, DNI_RELOG, (CASE WHEN ((SELECT TIPO FROM T_GRUPO WHERE CODIGO = (SELECT CODGRP FROM T_CargoFuncional WHERE CODIGO = CODFUNCION)))= 'S' THEN HABER/150 ELSE HABER/160 END) AS COSTO_HORA
        FROM MAESTRO WHERE LEN(CODFUNCION) = 4 AND SITUACION IN ('01','03','04') ORDER BY NOMBRE ASC
        
        SELECT * FROM ASISTENCIA WHERE CODIGO = '084315' AND MES = '6' AND AÑO = '2015'
        
        
        SELECT CODIGO, CODACT, DIA, MES, AÑO, TIPO, HORAI, HORAI AS HORAMARCO, 0, FALTA, TARDANZA, PERMISO FROM ASISTENCIA  
         WHERE  AÑO = '2015' AND MES = '6' AND CODACT NOT IN ('D','V','L','DM') AND  SITUACION NOT IN ('S','D','I','V') AND CODIGO = '084315'
         
         
         SELECT * FROM TMPASISTENCIA WHERE CODIGO = '084315'	
    
    
    
