/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT TOP 1000 [CODIGO]
      ,[PLAZA]
      ,[T_PLAZA]
      ,[NOMBRE]
      ,[SITUACION]
      ,[CODCARGO]
      ,[CODNIVEL]
      ,[ESTABLEORG]
      ,[CODFUNCION]
      ,[CODUNIDADORG]
      ,[REGIMENPEN]
      ,[REGIMENLAB]
      ,[FECHAINGPUB]
      ,[DOCINGPUB]
      ,[FECHAINGSLD]
      ,[DOCINGSLG]
      ,[FECNAC]
      ,[DISTRITO]
      ,[PAIS]
      ,[SEXO]
      ,[ESTADOCIVIL]
      ,[NIVELEDU]
      ,[GRPSANG]
      ,[DNI]
      ,[ESSALUD]
      ,[RUC]
      ,[NCOLE]
      ,[TELFIJO]
      ,[TELMOVIL]
      ,[EMAIL]
      ,[DIRECCION]
      ,[REFERENCIA]
      ,[AFP]
      ,[NCARNET]
      ,[FECAFILIA]
      ,[ESTABLEDES]
      ,[CODSIAF]
      ,[CODGRUPO]
      ,[CODCATEG]
      ,[CODHORA]
      ,[CODTAR]
      ,[HABER]
      ,[NIVELGRD]
      ,[HORAS]
      ,[CADENA]
      ,[DNI_RELOG]
      ,[CTA]
      ,[DNI_ACTUAL]
      ,[XFLAT]
  FROM [BDPERSONAL].[dbo].[MAESTRO] where NOMBRE like '%OBISPO%'
  
  SELECT * FROM RELOGDIGI WHERE Codigo = '10169939' ORDER BY Fecha DESC