/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT *  FROM [BDPERSONAL].[dbo].[LGJ_ESTUDIOS] where IDMASTER = 17
  
  select TIPOESTUDIO, ESTUDIO, CONDICION, DESDE, HASTA, CE, CARRERA, GRADO, ESPECIALIDAD, NRO_CARRERA_PROFESIONAL FROM [BDPERSONAL].[dbo].[LGJ_ESTUDIOS] where IDMASTER = 17
  order by TIPOESTUDIO, CONVERT(datetime, desde, 101)  asc
  
  use BDPERSONAL
  select * from dbo.LGJ_MASTER where apellidosnombres like 'ari%'
  
  
  
    SELECT [IDCAPACITACION],[IDMASTER],[IDCONDICIONPARTICIPACION],[NOMBREPARTICIPACION],[IDTIPOEVENTO],[NOMBREEVENTO],[IDTIPOMODALIDAD],[MODALIDAD],[ENTIDAD],[DESCRIPCION],[FECHAINICIO],[FECHAFIN],[HORASACADEMICAS],[LUGAR],
      [FECHAREGISTRO],[USUARIO]  FROM [BDPERSONAL].[dbo].[LGJ_CAPACITACION] where idmaster = 19 order by CONVERT(datetime, FECHAINICIO, 103)  desc
      
      
         SELECT [IDEVENTO],[NOMBRE],[FECHAREGISTRO],[USUARIO]  FROM [BDPERSONAL].[dbo].[LGJ_EVENTO]     where idevento = ?lidevento


select * from [BDPERSONAL].[dbo].[LGJ_ESTUDIOS] where IDMASTER = 19 order by TIPOESTUDIO asc

SELECT [IDCAPACITACION],[IDMASTER],[IDCONDICIONPARTICIPACION],[NOMBREPARTICIPACION],[IDTIPOEVENTO],[NOMBREEVENTO],[IDTIPOMODALIDAD],[MODALIDAD],[ENTIDAD],[DESCRIPCION],[FECHAINICIO],[FECHAFIN],[HORASACADEMICAS],[LUGAR],
      [FECHAREGISTRO],[USUARIO]  FROM [BDPERSONAL].[dbo].[LGJ_CAPACITACION] where idmaster = 19 order by CONVERT(datetime, FECHAINICIO, 103)  desc



  
  