/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT [NKEY]
      ,[CODIGO]
      ,[NOMBRE]
      ,[TIENE_ASISTENCIA]
      ,[FECHA]
  FROM [BDPERSONAL].[dbo].[REVISA_ASISTENCIA] WHERE TIENE_ASISTENCIA = 'NO TIENE ASISTENCIA' ORDER BY NOMBRE ASC
  
  USE BDPERSONAL
  SELECT * FROM MAESTRO WHERE NOMBRE LIKE '%CONCA%'
  
  LUNASCO CHAVEZ 
  ESTER
  
  QUISPE RIVEROS ROSSI
  CHAVEZ ROBLADILLOCARMEN
  
  CUELLAR CAMARENA JOSE
  PALMINOI ALVARADO
  FELIX JAIMES FELICIANO URBANO
  TORRES CRUZ ELIZABETH LUCILA
  PAREJA CUETO HECTOR MARCIAL
  CUYA VILLAGARAY DIGNA
  SUAREZ RECINES FRIDA MARILU
  
  
  OSORIO TELLO NOEMI - NO LE ACEPTA KARDEX Y SE CELGA
  
  
  
  
  
  
  
  