USE [SIGSALUD]
GO
/****** Object:  Table [dbo].[HOSPITALIZACION_EMERGENCIA]    Script Date: 12/29/2016 09:44:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOSPITALIZACION_EMERGENCIA](
	[SEXO] [nvarchar](255) NULL,
	[PROCEDENCIA] [nvarchar](255) NULL,
	[SERVICIO] [nvarchar](255) NULL,
	[Edad] [float] NULL,
	[TipoEdad] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[HOSPITALIZACION_EMERGENCIA] ([SEXO], [PROCEDENCIA], [SERVICIO], [Edad], [TipoEdad]) VALUES (N'F', N'EMERGENCIA                    ', N'MEDICINA GENERAL', 65, N'1')
INSERT [dbo].[HOSPITALIZACION_EMERGENCIA] ([SEXO], [PROCEDENCIA], [SERVICIO], [Edad], [TipoEdad]) VALUES (N'F', N'EMERGENCIA                    ', N'MEDICINA GENERAL', 60, N'1')
INSERT [dbo].[HOSPITALIZACION_EMERGENCIA] ([SEXO], [PROCEDENCIA], [SERVICIO], [Edad], [TipoEdad]) VALUES (N'M', N'EMERGENCIA                    ', N'MEDICINA GENERAL', 60, N'1')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
/****** Object:  Table [dbo].[FORMATO_HOSPITALIZACION]    Script Date: 12/29/2016 09:44:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FORMATO_HOSPITALIZACION](
	[IDFORMATO] [int] NOT NULL,
	[SERVICIO] [varchar](250) NULL,
	[TOTAL] [int] NULL,
	[MENOR_DE_1_MES] [int] NULL,
	[DE_1_A_11_MESES] [int] NULL,
	[DE_1_A_5_ANIOS] [int] NULL,
	[DE_6_A_10_ANIOS] [int] NULL,
	[DE_11_A_14_ANIOS] [int] NULL,
	[DE_15_A_24_ANIOS] [int] NULL,
	[DE_25_A_44_ANIOS] [int] NULL,
	[DE_45_A_64_ANIOS] [int] NULL,
	[DE_65_A_MAS_ANIOS] [int] NULL,
	[SEXO] [varchar](1) NULL,
 CONSTRAINT [PK_FORMATO_HOSPITALIZACION] PRIMARY KEY CLUSTERED 
(
	[IDFORMATO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
