USE [SIGSALUD]
GO
/****** Object:  Table [dbo].[BIENESTAR_FETAL]    Script Date: 09/05/2017 17:52:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BIENESTAR_FETAL](
	[IDBIENESTARFETAL] [int] IDENTITY(1,1) NOT NULL,
	[ESTADO] [varchar](1) NULL,
	[FECHA] [varchar](10) NULL,
	[HORA] [varchar](10) NULL,
	[PACIENTE] [varchar](10) NULL,
	[HISTORIA] [varchar](10) NULL,
	[NOMBRES] [varchar](250) NULL,
	[OBSTETRA] [varchar](10) NULL,
	[MEDICO] [varchar](10) NULL,
	[FECHAREGISTRO] [datetime] NULL,
	[USUARIO] [varchar](20) NULL,
 CONSTRAINT [PK_BIENESTAR_FETAL] PRIMARY KEY CLUSTERED 
(
	[IDBIENESTARFETAL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[BIENESTAR_FETAL] ON
INSERT [dbo].[BIENESTAR_FETAL] ([IDBIENESTARFETAL], [ESTADO], [FECHA], [HORA], [PACIENTE], [HISTORIA], [NOMBRES], [OBSTETRA], [MEDICO], [FECHAREGISTRO], [USUARIO]) VALUES (1, N'2', N'04/09/2017', N'09:50', N'2008064806', N'0065075', N'JUSTO JAUREGUI VANESSA ELIZABETH', N'MHJ', N'SAY', CAST(0x0000A7E400A55CB0 AS DateTime), N'32921099')
INSERT [dbo].[BIENESTAR_FETAL] ([IDBIENESTARFETAL], [ESTADO], [FECHA], [HORA], [PACIENTE], [HISTORIA], [NOMBRES], [OBSTETRA], [MEDICO], [FECHAREGISTRO], [USUARIO]) VALUES (2, N'2', N'04/09/2017', N'09:50', N'2008064806', N'0065075', N'JUSTO JAUREGUI VANESSA ELIZABETH', N'MHJ', N'SAY', CAST(0x0000A7E400A6ECB4 AS DateTime), N'32921099')
INSERT [dbo].[BIENESTAR_FETAL] ([IDBIENESTARFETAL], [ESTADO], [FECHA], [HORA], [PACIENTE], [HISTORIA], [NOMBRES], [OBSTETRA], [MEDICO], [FECHAREGISTRO], [USUARIO]) VALUES (3, N'2', N'04/09/2017', N'10:50', N'2008083736', N'0084125', N'VILCA AMASIFEN DIANA', N'MHJ', N'SAY', CAST(0x0000A7E400A6ECB6 AS DateTime), N'32921099')
SET IDENTITY_INSERT [dbo].[BIENESTAR_FETAL] OFF
