  USE SIGSALUD
  SELECT * FROM INGRESOC WHERE INGRESOID IN ('16000609', '16000610', '16000611', '16000612', '16000612', '16000613', '16000614', '16000615', '16000616')
  
  UPDATE INGRESOC SET ALMACEN = 'A' WHERE INGRESOID IN ('16000609', '16000610', '16000611', '16000612', '16000612', '16000613', '16000614', '16000615', '16000616')
  
  
  SELECT * FROM ITEM WHERE ITEM = '170374'
  
  SELECT * FROM STOCK WHERE ITEM = '170374'
  
  UPDATE STOCK SET STOCK = 0 WHERE ITEM = '170374' AND ALMACEN = 'F'