Declare @lultimo int
DECLARE @ULTIMAFECHA AS DATETIME 
DECLARE @PRIMERAFECHA AS DATETIME 

select @ULTIMAFECHA = MAX(FECHA) from KARDEX
SELECT @PRIMERAFECHA = MIN(FECHA) FROM KARDEX
Select  * from KARDEX WHERE FECHA = @PRIMERAFECHA
Select  * from KARDEX WHERE FECHA = @ULTIMAFECHA
 