USE [SIGSALUD]
GO
/****** Object:  Table [dbo].[TMP_MEDICAS_NO_MEDICAS_B1]    Script Date: 12/07/2017 15:38:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TMP_MEDICAS_NO_MEDICAS_B1](
	[IDMEDICAS] [int] IDENTITY(1,1) NOT NULL,
	[CONSULTORIOS] [varchar](150) NULL,
	[TIPO_MEDICAS] [varchar](1) NULL,
 CONSTRAINT [PK_TMP_MEDICAS_NO_MEDICAS_B1] PRIMARY KEY CLUSTERED 
(
	[IDMEDICAS] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TMP_MEDICAS_NO_MEDICAS_B1] ON
INSERT [dbo].[TMP_MEDICAS_NO_MEDICAS_B1] ([IDMEDICAS], [CONSULTORIOS], [TIPO_MEDICAS]) VALUES (1, N'CARDIOLOGIA', N'1')
INSERT [dbo].[TMP_MEDICAS_NO_MEDICAS_B1] ([IDMEDICAS], [CONSULTORIOS], [TIPO_MEDICAS]) VALUES (2, N'CIRUGIA GENERAL', N'1')
INSERT [dbo].[TMP_MEDICAS_NO_MEDICAS_B1] ([IDMEDICAS], [CONSULTORIOS], [TIPO_MEDICAS]) VALUES (3, N'DERMATOLOGIA', N'1')
SET IDENTITY_INSERT [dbo].[TMP_MEDICAS_NO_MEDICAS_B1] OFF
