USE [SIGSALUD]
GO
/****** Object:  Table [dbo].[MORBICIEX]    Script Date: 10/13/2017 14:55:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MORBICIEX](
	[CIEX] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[MORBICIEX] ([CIEX]) VALUES (N'A02.9')
INSERT [dbo].[MORBICIEX] ([CIEX]) VALUES (N'A04')
INSERT [dbo].[MORBICIEX] ([CIEX]) VALUES (N'A04.9')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
