/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT [IDSEEMEMERGENCIA]
      ,[RENIPRESS]
      ,[E_UBIG]
      ,[COD_DISA]
      ,[COD_RED]
      ,[COD_MRED]
      ,[fecate]
      ,[horate]
      ,[numhc]
      ,[doc_iden]
      ,[etnia]
      ,[FINANCIA]
      ,[SEXO]
      ,[EDAD]
      ,[tipoedad]
      ,[NOMB]
      ,[APELL]
      ,[DIRECC]
      ,[UBIG_RESHA]
      ,[UBIG_PROCE]
      ,[ACOMPANA]
      ,[ADOC_IDEN]
      ,[MOTATEN]
      ,[SITOCURREN]
      ,[UPS]
      ,[CODDIAG1]
      ,[TIPDIAG1]
      ,[CODDIAG2]
      ,[TIPDIAG2]
      ,[CODDIAG3]
      ,[TIPDIAG3]
      ,[CODDIAG4]
      ,[TIPDIAG4]
      ,[codcpt1]
      ,[codcpt2]
      ,[codcpt3]
      ,[codcpt4]
      ,[CONDICION]
      ,[FECEGR]
      ,[HOREGR]
      ,[DESTINO]
      ,[DES_EESS]
      ,[DES_UPS]
      ,[CODPSAL]
      ,[OBSERV]
      ,[OFECING]
      ,[OHORING]
      ,[OFECEGR]
      ,[OHOREGR]
      ,[TOTALEST]
      ,[OCAMA]
      ,[OCODPSAL]
      ,[OCODDIAG1]
      ,[OCODDIAG2]
      ,[FECHAREG]
      ,[ESTADO]
  FROM [SIGSALUD].[dbo].[SEEMEMERGENCIA] WHERE CONVERT(DATE, FECEGR) =  
  
SELECT  CONVERT(DATETIME, FECEGR, 3) FROM [SIGSALUD].[dbo].[SEEMEMERGENCIA] WHERE CONVERT(DATE, FECEGR) =    

SELECT  *   FROM [SIGSALUD].[dbo].[SEEMEMERGENCIA]

SELECT  FECEGR, CONVERT(DATETIME, FECEGR, 3)   FROM [SIGSALUD].[dbo].[SEEMEMERGENCIA] ORDER BY CONVERT(DATETIME, FECEGR, 3)  DESC

SELECT  fecate,  FECEGR, CONVERT(DATETIME, FECEGR, 3),  *   FROM [SIGSALUD].[dbo].[SEEMEMERGENCIA] 
WHERE CONVERT(DATETIME, FECEGR, 3) BETWEEN CONVERT(DATETIME, '2017-10-01', 101) AND  CONVERT(DATETIME, '2017-10-31', 101) 
ORDER BY CODDIAG1  DESC

SELECT  FECEGR  FROM [SIGSALUD].[dbo].[SEEMEMERGENCIA] GROUP BY FECEGR

SELECT  fecate, FECEGR  FROM [SIGSALUD].[dbo].[SEEMEMERGENCIA] WHERE FECEGR = '27/11/'
UPDATE [SIGSALUD].[dbo].[SEEMEMERGENCIA] SET FECEGR = fecate WHERE FECEGR = '27/11/'

 
CONVERT(DATETIME, FECEGR, 3) + CAST(RTRIM(HOREGR) + ':00' AS DATETIME))


US: 6114
THEY : 6065


SELECT * FROM EMERGENCIA WHERE EMERGENCIA_ID = '17042187'


46


 update SEEMEMERGENCIA set EDAD = case when abs(datediff(hh, CONVERT(DATETIME, FECATE, 3) + CAST(RTRIM(HORATE) + ':00' AS DATETIME), CONVERT(DATETIME, FECEGR, 3) + CAST(RTRIM(HOREGR) + ':00' AS DATETIME))) = 0 then 1 else
  abs(datediff(hh, CONVERT(DATETIME, FECATE, 3) + CAST(RTRIM(HORATE) + ':00' AS DATETIME), CONVERT(DATETIME, FECEGR, 3) + CAST(RTRIM(HOREGR) + ':00' AS DATETIME))) end, tipoedad = '4' where EDAD = 0




SELECT  FECEGR, COUNT(FECEGR) AS CNT   FROM [SIGSALUD].[dbo].[SEEMEMERGENCIA] 
WHERE CONVERT(DATETIME, FECEGR, 3) BETWEEN CONVERT(DATETIME, '2017-10-01', 101) AND  CONVERT(DATETIME, '2017-10-31', 101) 
GROUP BY FECEGR ORDER BY CONVERT(DATETIME, FECEGR, 3)  DESC



SELECT  *   FROM [SIGSALUD].[dbo].[SEEMEMERGENCIA] 
WHERE CONVERT(DATETIME, FECEGR, 3) BETWEEN CONVERT(DATETIME, '2017-10-01', 101) AND  CONVERT(DATETIME, '2017-10-31', 101) 
ORDER BY CODDIAG1 ASC



SELECT  FINANCIA   FROM [SIGSALUD].[dbo].[SEEMEMERGENCIA] 
WHERE CONVERT(DATETIME, FECEGR, 3) BETWEEN CONVERT(DATETIME, '2017-10-01', 101) AND  CONVERT(DATETIME, '2017-10-31', 101) 
GROUP BY FINANCIA 





SELECT  *   FROM [SIGSALUD].[dbo].[SEEMEMERGENCIA] 
WHERE CONVERT(DATETIME, FECEGR, 3) > CONVERT(DATETIME, '2017-10-31', 101) 
ORDER BY CONVERT(DATETIME, FECEGR, 3)  DESC



SELECT * FROM [SIGSALUD].[dbo].[SEEM_MINSA] WHERE APELL LIKE 'ORELLANA%'
6065

SELECT * FROM [SIGSALUD].[dbo].[SEEMEMERGENCIA]


SELECT  *  FROM [SIGSALUD].[dbo].[SEEMEMERGENCIA] WHERE FECEGR = '27/11/'



SELECT  APELL   FROM [SIGSALUD].[dbo].[SEEMEMERGENCIA] 
WHERE CONVERT(DATETIME, FECEGR, 3) BETWEEN CONVERT(DATETIME, '2017-10-01', 101) AND  CONVERT(DATETIME, '2017-10-31', 101) 
ORDER BY APELL 


SELECT APELL FROM [SIGSALUD].[dbo].[SEEM_MINSA] ORDER BY APELL

SELECT * FROM [SIGSALUD].[dbo].[SEEM_MINSA] WHERE APELL LIKE 'MANDUJANO CAR%'

SELECT *   FROM [SIGSALUD].[dbo].[SEEMEMERGENCIA] 
WHERE CONVERT(DATETIME, FECEGR, 3) BETWEEN CONVERT(DATETIME, '2017-10-01', 101) AND  CONVERT(DATETIME, '2017-10-31', 101) 
AND APELL LIKE 'MANDUJANO%'




select * from v_emergencia where FECHA between CONVERT(DATETIME, '2017-10-01', 101) AND  CONVERT(DATETIME, '2017-10-31', 101) 