USE [SIGSALUD]
GO
/****** Object:  Table [dbo].[UPS-ORIGEN]    Script Date: 06/16/2017 09:51:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UPS-ORIGEN](
	[ORIGEN] [nvarchar](255) NULL,
	[UPS] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[UPS-ORIGEN] ([ORIGEN], [UPS]) VALUES (N'ANESTESIOLOGIA', 229000)
INSERT [dbo].[UPS-ORIGEN] ([ORIGEN], [UPS]) VALUES (N'CIRUGIA PLASTICA', 220600)
INSERT [dbo].[UPS-ORIGEN] ([ORIGEN], [UPS]) VALUES (N'UCI', 250100)
/****** Object:  Table [dbo].[ORIGEN_1]    Script Date: 06/16/2017 09:51:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORIGEN_1](
	[ORIGEN] [nvarchar](255) NULL,
	[SERVICIO] [varchar](20) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ORIGEN_1] ([ORIGEN], [SERVICIO]) VALUES (N'CIRUGIA', NULL)
INSERT [dbo].[ORIGEN_1] ([ORIGEN], [SERVICIO]) VALUES (N'GASTROENTEROLOGIA', NULL)
INSERT [dbo].[ORIGEN_1] ([ORIGEN], [SERVICIO]) VALUES (N'MEDICINA FISICA Y REHABILITACION', NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
/****** Object:  Table [dbo].[HOSPITAL1]    Script Date: 06/16/2017 09:51:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOSPITAL1](
	[HOSPITAL] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[HOSPITAL1] ([HOSPITAL]) VALUES (N'HOSPITAL NACIONAL HIPOLITO UNANUE')
INSERT [dbo].[HOSPITAL1] ([HOSPITAL]) VALUES (N'HOSPITAL NACIONAL DOS DE MAYO')
INSERT [dbo].[HOSPITAL1] ([HOSPITAL]) VALUES (N'HOSPITAL NACIONAL HIPOLITO UNANUE')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
/****** Object:  Table [dbo].[HOSPIRENAES]    Script Date: 06/16/2017 09:51:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOSPIRENAES](
	[HOSPI] [nvarchar](255) NULL,
	[RENAES] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[HOSPIRENAES] ([HOSPI], [RENAES]) VALUES (N'HOSPITAL NACIONAL HIPOLITO UNANUE', N'000005946')
INSERT [dbo].[HOSPIRENAES] ([HOSPI], [RENAES]) VALUES (N'HOSPITAL NACIONAL DOS DE MAYO', N'000006206')
INSERT [dbo].[HOSPIRENAES] ([HOSPI], [RENAES]) VALUES (N'INSTITUTO NACIONAL DE SALUD DEL NIÑO', N'000006216')
/****** Object:  Table [dbo].[DESTI1]    Script Date: 06/16/2017 09:51:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DESTI1](
	[SERVI] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[DESTI1] ([SERVI]) VALUES (N'TRAUMATOLOGIA')
INSERT [dbo].[DESTI1] ([SERVI]) VALUES (N'GASTROENTEROLOGIA')
INSERT [dbo].[DESTI1] ([SERVI]) VALUES (N'DIAGNOSTICO X IMÁGENES')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
