/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT  [sexo_paciente]
      ,[grupo_edad]
      ,[diagnostico_definitivo]
      ,[total_atendidos]
  FROM [SIGSALUD].[dbo].[TMP_MOR_ATN_C2]
  
  SELECT CIEX4 FROM [SIGSALUD].[dbo].[EMERGENCIA]  
   WHERE FECHA BETWEEN CONVERT(DATETIME, '2017-09-01', 101)  AND CONVERT(DATETIME, '2017-09-01', 101) 
   AND TIPO_CIEX4 = 'D' AND CIEX4 IS NOT NULL AND CIEX4 <> ''AND CIEX4 <> '0'
   
  SELECT CIEX5 FROM [SIGSALUD].[dbo].[EMERGENCIA]  
   WHERE FECHA BETWEEN CONVERT(DATETIME, '2017-09-01', 101)  AND CONVERT(DATETIME, '2017-09-01', 101) 
   AND TIPO_CIEX4 = 'D' AND CIEX5 IS NOT NULL AND CIEX5 <> ''AND CIEX5 <> '0'
  
   
   SELECT CIEX4 FROM [SIGSALUD].[dbo].[EMERGENCIA]  
   WHERE FECHA BETWEEN CONVERT(DATETIME, '2017-09-01', 101)  AND CONVERT(DATETIME, '2017-09-01', 101)   AND TIPO_CIEX4 = 'D'  