/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT [PERIODO]
      ,[IPRESS]
      ,[UGIPRESS]
      ,[SEXO_PACIENTE]
      ,[EDAD]
      ,[GRUPO_EDAD]
      ,[DIAGNOSTICO_DEFINITIVO]
      ,[TOTAL_ATENDIDOS]
  FROM [SIGSALUD].[dbo].[TRAMA_C2] ORDER BY DIAGNOSTICO_DEFINITIVO
  
  
   SELECT '201710' as PERIODO, '5947' as IPRESS, '5947' as UGIPRESS, SEXO as SEXO_PACIENTE, GRUPO_EDAD, 
	  case when len(diagnostico_emergencia) = 3 then rtrim(DIAGNOSTICO_EMERGENCIA) + '.X' else DIAGNOSTICO_EMERGENCIA
	  end AS DIAGNOSTICO_EMERGENCIA, TOTAL_ATENDIDOS FROM [SIGSALUD].[dbo].[TMP_TRAMA_PRE_C2] WHERE TOTAL_ATENDIDOS <> 0
	  
USE SIGSALUD	  
SELECT SEXO_PACIENTE, EDAD, GRUPO_EDAD, 
	  case when len([DIAGNOSTICO_DEFINITIVO]) = 3 then rtrim([DIAGNOSTICO_DEFINITIVO]) + 'X' else DIAGNOSTICO_DEFINITIVO
	  end AS DIAGNOSTICO_EMERGENCIA INTO [SIGSALUD].[dbo].[TRAMA_C2_TEMPO]   FROM [SIGSALUD].[dbo].[TRAMA_C2] 
	  

SELECT * FROM [SIGSALUD].[dbo].[TRAMA_C2_TEMPO] 	  
SELECT SEXO_PACIENTE, GRUPO_EDAD, DIAGNOSTICO_EMERGENCIA, COUNT(EDAD) AS TOTAL FROM [SIGSALUD].[dbo].[TRAMA_C2_TEMPO] 
GROUP BY SEXO_PACIENTE, EDAD, GRUPO_EDAD, DIAGNOSTICO_EMERGENCIA 


end AS DIAGNOSTICO_EMERGENCIA INTO TRAMA_C2_TEMPO  FROM [SIGSALUD].[dbo].[TRAMA_C2] 	  
	  
DROP TABLE [SIGSALUD].[dbo].[TRAMA_C2_TEMPO] 
	  
	  GROUP BY EDAD, GRUPO_EDAD, SEXO_PACIENTE