/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT [IDTEVDFEBTEMP]
      ,[IDDISTRITO]
      ,[CDISTRITO]
      ,[IDLOCALIDAD]
      ,[CLOCALIDAD]
      ,[EDAD]
  FROM [SIGSALUD].[dbo].[TEVDFEBTEMP1y4]
  
  
  select * from TEVDFEBTEMP1
  select * from TEVDFEBTEMP1y4
  select * from TEVDFEBTEMP5y9
  select * from TEVDFEBTEMP10y19
  SELECT * FROM TEVDFEBTEMP20y59
  SELECT * FROM TEVDFEBTEMP60ymas
  