USE [SIGSALUD]
GO
/****** Object:  Table [dbo].[EPIDEMIOLOGIATREPORTES]    Script Date: 10/20/2017 10:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EPIDEMIOLOGIATREPORTES](
	[IDREPORTE] [int] IDENTITY(1,1) NOT NULL,
	[REPORTE] [varchar](150) NULL,
 CONSTRAINT [PK_EPIDEMIOLOGIATREPORTES] PRIMARY KEY CLUSTERED 
(
	[IDREPORTE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[EPIDEMIOLOGIATREPORTES] ON
INSERT [dbo].[EPIDEMIOLOGIATREPORTES] ([IDREPORTE], [REPORTE]) VALUES (1, N'Reporte Epidemiologico EDAS - EDAS  Desintericas')
INSERT [dbo].[EPIDEMIOLOGIATREPORTES] ([IDREPORTE], [REPORTE]) VALUES (2, N'Reporte Epidemiologico IRAS')
INSERT [dbo].[EPIDEMIOLOGIATREPORTES] ([IDREPORTE], [REPORTE]) VALUES (3, N'Reporte Epidemiologico NEUMONIAS')
SET IDENTITY_INSERT [dbo].[EPIDEMIOLOGIATREPORTES] OFF
