USE [SIGSALUD]
GO
/****** Object:  Table [dbo].[EPIDEMIOLOGIACIEX]    Script Date: 10/20/2017 12:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EPIDEMIOLOGIACIEX](
	[IDCIEX] [int] IDENTITY(1,1) NOT NULL,
	[CIEX10] [varchar](50) NULL,
	[TIPO_REPORTE] [int] NULL,
	[FECHAREGISTRO] [datetime] NULL,
 CONSTRAINT [PK_EPIDEMIOLOGIACIEX] PRIMARY KEY CLUSTERED 
(
	[IDCIEX] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[EPIDEMIOLOGIACIEX] ON
INSERT [dbo].[EPIDEMIOLOGIACIEX] ([IDCIEX], [CIEX10], [TIPO_REPORTE], [FECHAREGISTRO]) VALUES (1, N'A09.0                                             ', 1, CAST(0x0000A81200A42044 AS DateTime))
INSERT [dbo].[EPIDEMIOLOGIACIEX] ([IDCIEX], [CIEX10], [TIPO_REPORTE], [FECHAREGISTRO]) VALUES (2, N'A09.9                                             ', 1, CAST(0x0000A81200A42D47 AS DateTime))
INSERT [dbo].[EPIDEMIOLOGIACIEX] ([IDCIEX], [CIEX10], [TIPO_REPORTE], [FECHAREGISTRO]) VALUES (3, N'A08.4                                             ', 1, CAST(0x0000A81200A45307 AS DateTime))
SET IDENTITY_INSERT [dbo].[EPIDEMIOLOGIACIEX] OFF
