/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT [PERIODO]
      ,[SERVICIO]
      ,[CONSULTORIO]
      ,[TURNO_CONSULTA]
      ,[D01]
      ,[D02]
      ,[D03]
      ,[D04]
      ,[D05]
      ,[D06]
      ,[D07]
      ,[D08]
      ,[D09]
      ,[D10]
      ,[D11]
      ,[D12]
      ,[D13]
      ,[D14]
      ,[D15]
      ,[D16]
      ,[D17]
      ,[D18]
      ,[D19]
      ,[D20]
      ,[D21]
      ,[D22]
      ,[D23]
      ,[D24]
      ,[D25]
      ,[D26]
      ,[D27]
      ,[D28]
      ,[D29]
      ,[D30]
      ,[D31]
  FROM [SIGSALUD].[dbo].[ROLACTIVIDAD]
  
  
  select * from [SIGSALUD].[dbo].[ROLACTIVIDAD]
   where PERIODO = '201711' and CONSULTORIO = '2021' AND TURNO_CONSULTA = 'M'
   
   update [SIGSALUD].[dbo].[ROLACTIVIDAD]set D28 = 'SCE'    where PERIODO = '201711' and CONSULTORIO = '2021' AND TURNO_CONSULTA = 'M'