/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT *
  FROM [SIGSALUD].[dbo].[USUARIO] where usuario LIKE 'CPRADO%'
  
  SELECT * FROM [SIGSALUD].[dbo].[USUARIOD] where usuario = 'CPRADO'
  SELECT * FROM [SIGSALUD].[dbo].[USUARIOD] where usuario = 'JLOZANO' AND MODULO = 'ADMISION'
  
    SELECT * FROM [SIGSALUD].[dbo].[USUARIOD] where usuario = 'JLOZANO'
    
DELETE FROM [SIGSALUD].[dbo].[USUARIOD] where usuario = 'JLOZANO' AND MENU IN('0701', '0401')    
INSERT INTO [SIGSALUD].[dbo].[USUARIOD]([MODULO],[USUARIO],[MENU],[BOTON1],[BOTON2],[BOTON3],[BOTON4],[BOTON5],[BOTON6],[BOTON7],[BOTON8],[BOTON9],[BOTON10],[BOTON11],[BOTON12])    
    SELECT MODULO, 'JLOZANO' AS USUARIO, MENU, BOTON1, BOTON2, BOTON3, BOTON4, 
     BOTON5, BOTON6, BOTON7, BOTON8, BOTON9, BOTON10, BOTON11, BOTON12 
      FROM [SIGSALUD].[dbo].[USUARIOD] where MODULO = 'ADMISION' AND USUARIO =  'CPRADO'
      
  
   
  update [SIGSALUD].[dbo].[USUARIOD] set boton1= '1', boton2= '0', boton3= '1',
  boton4 = '0', boton5 = '0', boton6= '0', boton7 = '0', boton8 = '0', boton9= '0', 
  boton10 = '0', boton11 = '0', boton12= '0' where MODULO = 'ADMISION' AND USUARIO =  'CPRADO'
  
  
  select * from [SIGSALUD].[dbo].[USUARIOD] where MODULO = 'ADMISION' AND USUARIO =  'CPRADO'
  select * from [SIGSALUD].[dbo].[USUARIOD] where MODULO = 'ADMISION' AND USUARIO =  'JLOZANO'
  
  DELETE FROM [SIGSALUD].[dbo].[USUARIOD] where MODULO = 'ADMISION' AND USUARIO =  'JLOZANO'
INSERT INTO [SIGSALUD].[dbo].[USUARIOD]([MODULO],[USUARIO],[MENU],[BOTON1],[BOTON2],[BOTON3],[BOTON4],[BOTON5],[BOTON6],[BOTON7],[BOTON8],[BOTON9],[BOTON10],[BOTON11],[BOTON12])    
    SELECT MODULO, 'JLOZANO' AS USUARIO, MENU, BOTON1, BOTON2, BOTON3, BOTON4, 
     BOTON5, BOTON6, BOTON7, BOTON8, BOTON9, BOTON10, BOTON11, BOTON12 
      FROM [SIGSALUD].[dbo].[USUARIOD] where MODULO = 'ADMISION' AND USUARIO =  'CPRADO'
  
  
  
  
