 /* Agregar UPS - EN Consultorio */

use  sigsalud
/* Alter Table consultorio add CODUPSSEEM varchar(10) */

UPDATE CONSULTORIO SET CODUPSSEEM = (SELECT CODUPS FROM UPS WHERE DESUPSESP = 'CIRUGÍA GENERAL' AND SUBSTRING(CODUPS,1,2) <> '23' AND SUBSTRING(CODUPS,1,4) <> '2501') WHERE CONSULTORIO = '2021'
UPDATE CONSULTORIO SET CODUPSSEEM = (SELECT CODUPS FROM UPS WHERE DESUPSESP = 'CARDILOGIA' AND SUBSTRING(CODUPS,1,2) <> '23' AND SUBSTRING(CODUPS,1,4) <> '2501') WHERE CONSULTORIO IN ('1014','1026')
UPDATE CONSULTORIO SET CODUPSSEEM = (SELECT CODUPS FROM UPS WHERE CODUPS = '240700' AND SUBSTRING(CODUPS,1,2) <> '23' AND SUBSTRING(CODUPS,1,4) <> '2501') 
   WHERE CONSULTORIO IN ('2026')
UPDATE CONSULTORIO SET CODUPSSEEM = (SELECT CODUPS FROM UPS WHERE CODUPS = '250605' AND SUBSTRING(CODUPS,1,2) <> '23' AND SUBSTRING(CODUPS,1,4) <> '2501') 
   WHERE CONSULTORIO IN ('1017')
UPDATE CONSULTORIO SET CODUPSSEEM = (SELECT CODUPS FROM UPS WHERE CODUPS = '250604' AND SUBSTRING(CODUPS,1,2) <> '23' AND SUBSTRING(CODUPS,1,4) <> '2501') 
   WHERE CONSULTORIO IN ('1016', '1021')
UPDATE CONSULTORIO SET CODUPSSEEM = (SELECT CODUPS FROM UPS WHERE CODUPS = '241400' AND SUBSTRING(CODUPS,1,2) <> '23' AND SUBSTRING(CODUPS,1,4) <> '2501') 
   WHERE CONSULTORIO IN ('4041', '4043')
UPDATE CONSULTORIO SET CODUPSSEEM = (SELECT CODUPS FROM UPS WHERE CODUPS = '241800' AND SUBSTRING(CODUPS,1,2) <> '23' AND SUBSTRING(CODUPS,1,4) <> '2501') 
   WHERE CONSULTORIO IN ('1011', '1012', '1022')
UPDATE CONSULTORIO SET CODUPSSEEM = (SELECT CODUPS FROM UPS WHERE CODUPS = '250603' AND SUBSTRING(CODUPS,1,2) <> '23' AND SUBSTRING(CODUPS,1,4) <> '2501') 
   WHERE CONSULTORIO IN ('1015')
UPDATE CONSULTORIO SET CODUPSSEEM = (SELECT CODUPS FROM UPS WHERE CODUPS = '241600' AND SUBSTRING(CODUPS,1,2) <> '23' AND SUBSTRING(CODUPS,1,4) <> '2501') 
   WHERE CONSULTORIO IN ('4042')
UPDATE CONSULTORIO SET CODUPSSEEM = (SELECT CODUPS FROM UPS WHERE CODUPS = '241800' AND SUBSTRING(CODUPS,1,2) <> '23' AND SUBSTRING(CODUPS,1,4) <> '2501') 
   WHERE CONSULTORIO IN ('1011', '1012', '1022')
UPDATE CONSULTORIO SET CODUPSSEEM = (SELECT CODUPS FROM UPS WHERE CODUPS = '242500' AND SUBSTRING(CODUPS,1,2) <> '23' AND SUBSTRING(CODUPS,1,4) <> '2501') 
   WHERE CONSULTORIO IN ('3031', '3032', '3033')
UPDATE CONSULTORIO SET CODUPSSEEM = (SELECT CODUPS FROM UPS WHERE CODUPS = '242201' AND SUBSTRING(CODUPS,1,2) <> '23' AND SUBSTRING(CODUPS,1,4) <> '2501') 
   WHERE CONSULTORIO IN ('1019')
UPDATE CONSULTORIO SET CODUPSSEEM = (SELECT CODUPS FROM UPS WHERE CODUPS = '241200' AND SUBSTRING(CODUPS,1,2) <> '23' AND SUBSTRING(CODUPS,1,4) <> '2501') 
   WHERE CONSULTORIO IN ('2022', '2029')
UPDATE CONSULTORIO SET CODUPSSEEM = (SELECT CODUPS FROM UPS WHERE CODUPS = '241300' AND SUBSTRING(CODUPS,1,2) <> '23' AND SUBSTRING(CODUPS,1,4) <> '2501') 
   WHERE CONSULTORIO IN ('2025')
UPDATE CONSULTORIO SET CODUPSSEEM = (SELECT CODUPS FROM UPS WHERE CODUPS = '230101' AND SUBSTRING(CODUPS,1,2) = '23') 
   WHERE CONSULTORIO IN ('2050')
UPDATE CONSULTORIO SET CODUPSSEEM = (SELECT CODUPS FROM UPS WHERE CODUPS = '230102' AND SUBSTRING(CODUPS,1,2) = '23') 
   WHERE CONSULTORIO IN ('4050', '4060')
UPDATE CONSULTORIO SET CODUPSSEEM = (SELECT CODUPS FROM UPS WHERE CODUPS = '230103' AND SUBSTRING(CODUPS,1,2) = '23') 
   WHERE CONSULTORIO IN ('1050')
UPDATE CONSULTORIO SET CODUPSSEEM = (SELECT CODUPS FROM UPS WHERE CODUPS = '230106' AND SUBSTRING(CODUPS,1,2) = '23') 
   WHERE CONSULTORIO IN ('3050')
UPDATE CONSULTORIO SET CODUPSSEEM = (SELECT CODUPS FROM UPS WHERE CODUPS = '230109' AND SUBSTRING(CODUPS,1,2) = '23') 
   WHERE CONSULTORIO IN ('2051')

/* 
USE SIGSALUD
SELECT CONSULTORIO, NOMBRE, CODUPSSEEM FROM CONSULTORIO WHERE TIPO = 'E' ORDER BY NOMBRE ASC
SELECT  CODUPS, DESUPSESP FROM UPS WHERE SUBSTRING(CODUPS,1,2) = '23'   ORDER BY DESUPSESP ASC */
