/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT *  FROM [SIGSALUD].[dbo].[CUENTA] ORDER BY CUENTAID DESC

SELECT CONVERT(DATETIME, '21/09/2017', 103)
  
  UPDATE [SIGSALUD].[dbo].[CUENTA] SET FECHA_APERTURA = CONVERT(DATETIME, '21/09/2017', 103) where CUENTAID IN (SELECT ID_CUENTA FROM [SIGSALUD].[dbo].[ATENCION_SEGURO]
   WHERE ATENCION_SEGURO_ID = '17061004')
  
USE SIGSALUD  
SELECT * FROM ATENCION_SEGURO  WHERE ID_CUENTA = '1762231'

SELECT *  FROM [SIGSALUD].[dbo].[CUENTA] WHERE CUENTAID  = '1762231'
SELECT ID_CUENTA, FECHA_ATENCION FROM ATENCION_SEGURO  WHERE ATENCION_SEGURO_ID = '17061004'

use sigsalud

select * from CUENTA  where CUENTAID =  '1762231'

SELECT CUENTAID FROM CUENTA WHERE PACIENTE = '2014241391'

SELECT CUENTAID FROM [SIGSALUD].[dbo].[CUENTA] WHERE PACIENTE = '2014241391'

