/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT *
  FROM [SIGSALUD].[dbo].[CIEXHIS] WHERE CODIGO = 'D0220'
  
SELECT *
  FROM [SIGSALUD].[dbo].[CIEXHIS] WHERE CODIGO = 'D7111'
  
  
USE SIGSALUD  
SELECT * FROM ITEM WHERE CODCPT = 'D0220'
  
UPDATE [SIGSALUD].[dbo].[CIEXHIS] SET NOMBRE = 'ODO/ EXTRACCION DENTAL SIMPLE Y SUTURA' WHERE CODORD = '14506' 
UPDATE [SIGSALUD].[dbo].[CIEXHIS] SET NOMBRE = 'RADIOGRAFÍA INTRAORAL PERIAPICAL' WHERE CODORD = '13560' 
  
  