USE [SIGSALUD]
GO
/****** Object:  Table [dbo].[TABLA_SIS_NUEVO]    Script Date: 07/18/2017 12:46:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TABLA_SIS_NUEVO](
	[NRO] [int] NOT NULL,
	[CPT] [varchar](50) NULL,
	[DESCRIPCION] [varchar](250) NULL,
	[PRECIO_SIS] [numeric](9, 2) NULL,
	[RESOLUCION] [varchar](50) NULL,
	[TIPO_GRABACION] [varchar](1) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TABLA_SIS_NUEVO] ([NRO], [CPT], [DESCRIPCION], [PRECIO_SIS], [RESOLUCION], [TIPO_GRABACION]) VALUES (1, N'107', N'ANESTESIA ENDOVENOSA PARA REALIZAR PROCEDIMIENTOS FUERA DE SALA DE OPERACIONES', CAST(5.85 AS Numeric(9, 2)), N'82', N'')
INSERT [dbo].[TABLA_SIS_NUEVO] ([NRO], [CPT], [DESCRIPCION], [PRECIO_SIS], [RESOLUCION], [TIPO_GRABACION]) VALUES (2, N'1987', N'EVALUACIÓN PREANESTÉSICA', CAST(9.51 AS Numeric(9, 2)), N'82', N'')
INSERT [dbo].[TABLA_SIS_NUEVO] ([NRO], [CPT], [DESCRIPCION], [PRECIO_SIS], [RESOLUCION], [TIPO_GRABACION]) VALUES (3, N'10060', N'INCISIÓN Y DRENAJE ', CAST(21.45 AS Numeric(9, 2)), N'82', N'')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
