USE [SIGSALUD]
GO
/****** Object:  Table [dbo].[cirugia]    Script Date: 08/29/2017 16:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cirugia](
	[cpt] [varchar](25) NULL,
	[descripcion] [varchar](250) NULL,
	[INDICADOR] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[cirugia] ([cpt], [descripcion], [INDICADOR]) VALUES (N'33400', N'VALVULOPLASTÍA AÓRTICA', NULL)
INSERT [dbo].[cirugia] ([cpt], [descripcion], [INDICADOR]) VALUES (N'33405', N'REEMPLAZO DE VÁLVULA AÓRTICA CON VÁLVULA PROTÉSICA', NULL)
INSERT [dbo].[cirugia] ([cpt], [descripcion], [INDICADOR]) VALUES (N'33425', N'VALVULOPLASTÍA MITRAL', NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
