USE [SIGSALUD]
GO
/****** Object:  Table [dbo].[CLASI1]    Script Date: 08/06/2018 04:05:45 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASI1](
	[CLASI] [nvarchar](255) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[CLASI1] ([CLASI]) VALUES (N'51194   ')
INSERT [dbo].[CLASI1] ([CLASI]) VALUES (N'51195   ')
INSERT [dbo].[CLASI1] ([CLASI]) VALUES (N'51197   ')
