USE [SIGSALUD]
GO
/****** Object:  Table [dbo].[COMPARAR_PRECIO_SOAT]    Script Date: 09/07/2017 12:32:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMPARAR_PRECIO_SOAT](
	[CODCPT] [varchar](13) NULL,
	[NOMBRE] [varchar](250) NULL,
	[PRECIOH] [numeric](18, 2) NOT NULL,
	[PRECIO_SOAT_SEGURO] [numeric](18, 3) NULL,
	[TIPO_REGISTROS] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[COMPARAR_PRECIO_SOAT] ([CODCPT], [NOMBRE], [PRECIOH], [PRECIO_SOAT_SEGURO], [TIPO_REGISTROS]) VALUES (N'AD001', N'EPI/ INVESTIGACION Y CONTROL DE BROTES DE ENFERMEDADES ZOONOTICAS', CAST(0.00 AS Numeric(18, 2)), NULL, NULL)
INSERT [dbo].[COMPARAR_PRECIO_SOAT] ([CODCPT], [NOMBRE], [PRECIOH], [PRECIO_SOAT_SEGURO], [TIPO_REGISTROS]) VALUES (N'AD002', N'EPI/ INVESTIGACION Y CONTROL DE BROTES PARA ENFERMEDADES METAXENICAS', CAST(0.00 AS Numeric(18, 2)), NULL, NULL)
INSERT [dbo].[COMPARAR_PRECIO_SOAT] ([CODCPT], [NOMBRE], [PRECIOH], [PRECIO_SOAT_SEGURO], [TIPO_REGISTROS]) VALUES (N'AD003', N'EPI/ VIGILANCIA DE ACCIDENTE OCUPACIONALES', CAST(0.00 AS Numeric(18, 2)), NULL, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
GO
print 'Processed 3000 total records'
GO
print 'Processed 3100 total records'
GO
print 'Processed 3200 total records'
GO
print 'Processed 3300 total records'
GO
print 'Processed 3400 total records'
GO
print 'Processed 3500 total records'
GO
print 'Processed 3600 total records'
GO
print 'Processed 3700 total records'
GO
print 'Processed 3800 total records'
GO
print 'Processed 3900 total records'
