USE [SIGSALUD]
GO
/****** Object:  Table [dbo].[TARIFARIO_SOAT_SEGURO]    Script Date: 09/07/2017 12:25:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARIFARIO_SOAT_SEGURO](
	[CPT] [nvarchar](255) NULL,
	[NOMBRE] [nvarchar](max) NULL,
	[SOAT] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[TARIFARIO_SOAT_SEGURO] ([CPT], [NOMBRE], [SOAT]) VALUES (N'99215', N'CONSULTA MÉDICA (INCLUYE HISTORIA CLÍNICA, EXAMEN CLÍNICO Y PLAN DE TRABAJO)  -   MAYOR DE 30 MINUTOS', 65.55)
INSERT [dbo].[TARIFARIO_SOAT_SEGURO] ([CPT], [NOMBRE], [SOAT]) VALUES (N'99241', N'INTERCONSULTAS (CONSULTA ESPECIALIZADA), BRINDADA EN CONSULTORIO EXTERNO, HOSPITALIZACIÓN O EMERGENCIA', 33.25)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
