/****** Script para el comando SelectTopNRows de SSMS  ******/
USE SIGSALUD
SELECT [NRO],[CPT],[DESCRIPCION],[PRECIO_SIS],[RESOLUCION]  FROM [SIGSALUD].[dbo].[TARIFARIO_INTEGRADO] ORDER BY CPT ASC


SELECT [NRO],[CPT],[DESCRIPCION],[PRECIO_SIS],[RESOLUCION]  FROM [SIGSALUD].[dbo].[TARIFARIO_INTEGRADO] ORDER BY CPT ASC


SELECT DISTINCT  CPT, DESCRIPCION, PRECIO_SIS, RESOLUCION INTO [SIGSALUD].[dbo].[TARIFARIO_FINAL_SIS]  FROM [SIGSALUD].[dbo].[TARIFARIO_INTEGRADO_TOTAL]



SELECT * FROM [SIGSALUD].[dbo].[TARIFARIO_FINAL_SIS] 



TRUNCATE TABLE [SIGSALUD].[dbo].[TARIFARIO_INTEGRADO_TOTAL]

 INSERT INTO [SIGSALUD].[dbo].[TARIFARIO_INTEGRADO_TOTAL] ([CPT],[DESCRIPCION],[PRECIO_SIS],[RESOLUCION])
     SELECT top 1 [CPT],upper([DESCRIPCION]) as DESCRIPCION,[PRECIO_SIS],[RESOLUCION] FROM [SIGSALUD].[dbo].[TARIFARIO_INTEGRADO] 
       WHERE CPT = '10060' order by precio_sis desc
       
       
  
/* para 1 registro */

  SELECT * FROM [SIGSALUD].[dbo].[TARIFARIO_INTEGRADO] WHERE CPT = '10060'
/* para 2 registros */
  
  SELECT * FROM [SIGSALUD].[dbo].[TARIFARIO_INTEGRADO] WHERE CPT = '10060'
  sELECT top 1 * FROM [SIGSALUD].[dbo].[TARIFARIO_INTEGRADO] WHERE CPT = '10060' order by precio_sis desc
  SELECT * FROM [SIGSALUD].[dbo].[TARIFARIO_INTEGRADO] WHERE CPT = '10060'  and NRO <> 164
  

SELECT CPT, COUNT(cpt) as cn1   FROM [SIGSALUD].[dbo].[TARIFARIO_INTEGRADO] group by cpt order by COUNT(cpt) desc

/* para 3 registros */


  SELECT * FROM [SIGSALUD].[dbo].[TARIFARIO_INTEGRADO] WHERE CPT = '10060'
  sELECT top 1 * FROM [SIGSALUD].[dbo].[TARIFARIO_INTEGRADO] WHERE CPT = '10060' order by precio_sis desc
  SELECT * FROM [SIGSALUD].[dbo].[TARIFARIO_INTEGRADO] WHERE CPT = '10060'  and NRO <> 164

  
  
  
  
  
  
  
  /* PREDOMINA EL MAYOR PRECIO */
  
  SELECT * FROM [SIGSALUD].[dbo].[TARIFARIO_INTEGRADO] WHERE CPT = '42450'
  /* PREDOMINA EL MAYOR PRECIO */
  
    SELECT * FROM [SIGSALUD].[dbo].[TARIFARIO_INTEGRADO] WHERE CPT = '72142'
    /* PREDOMINA EL MAYOR PRECIO */
    
    
    SELECT * FROM [SIGSALUD].[dbo].[TARIFARIO_INTEGRADO] WHERE CPT = '107'
    /* PREDOMINA EL MAYOR PRECIO */
    
    SELECT * FROM [SIGSALUD].[dbo].[TARIFARIO_INTEGRADO] WHERE CPT = '7371803'