/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT *   FROM [SIGSALUD].[dbo].[TARIFARIO_ABRIL_2017_V2]
  
  
  UPDATE [SIGSALUD].[dbo].[TARIFARIO_ABRIL_2017_V2] SET SERVICIO = UPPER(SERVICIO)
  UPDATE [SIGSALUD].[dbo].[TARIFARIO_ABRIL_2017_V2] SET NOMBRE = LTRIM(NOMBRE)
  UPDATE [SIGSALUD].[dbo].[TARIFARIO_ABRIL_2017_V2] SET PRECIOA = 0 WHERE PRECIOA IS NULL
  UPDATE [SIGSALUD].[dbo].[TARIFARIO_ABRIL_2017_V2] SET PRECIOSIS = 0 WHERE PRECIOSIS IS NULL
  UPDATE [SIGSALUD].[dbo].[TARIFARIO_ABRIL_2017_V2] SET PRECIOSOAT = 0 WHERE PRECIOSOAT IS NULL
  UPDATE [SIGSALUD].[dbo].[TARIFARIO_ABRIL_2017_V2] SET COMENTARIO = ''
  UPDATE [SIGSALUD].[dbo].[TARIFARIO_ABRIL_2017_V2] SET PROCESO = ''
  
  