
SELECT * FROM dbo.TARIFARIO_GENERAL_2017


USE SIGSALUD  
  SELECT * FROM ITEM WHERE GRUPO_RECAUDACION = '26'
  
  SELECT * FROM ITEM WHERE SUBSTRING(ITEM,1,1) = '5' ORDER BY ITEM ASC
  
  SELECT * FROM ITEM ORDER BY ITEM ASC
  
  SELECT ACTIVO, * FROM ITEM WHERE SUBSTRING(ITEM,1,1) = '0' ORDER BY ITEM ASC
  SELECT ACTIVO, * FROM ITEM WHERE SUBSTRING(ITEM,1,1) = '1' ORDER BY ITEM ASC
  SELECT ACTIVO, * FROM ITEM WHERE SUBSTRING(ITEM,1,1) = '2' ORDER BY ITEM ASC
  SELECT ACTIVO, * FROM ITEM WHERE SUBSTRING(ITEM,1,1) = '3' ORDER BY ITEM ASC
  SELECT ACTIVO, * FROM ITEM WHERE SUBSTRING(ITEM,1,1) = '4' ORDER BY ITEM ASC
  SELECT ACTIVO, * FROM ITEM WHERE SUBSTRING(ITEM,1,1) = '5' ORDER BY ITEM ASC
  SELECT ACTIVO, * FROM ITEM WHERE SUBSTRING(ITEM,1,1) = '6' ORDER BY ITEM ASC
  
  SELECT ACTIVO, * FROM ITEM WHERE SUBSTRING(ITEM,1,1) = '5' AND MODULO = 'CAJA'  ORDER BY ITEM ASC
  
  USE SIGSALUD
  SELECT * FROM ITEM WHERE SUBSTRING(ITEM,1,1) = '6' AND MODULO = 'CAJA'  ORDER BY ITEM ASC
  
  
  