/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT  *  FROM [SIGSALUD].[dbo].[TARIFARIO_GENERAL_2017]
  
  UPDATE [SIGSALUD].[dbo].[TARIFARIO_GENERAL_2017] SET MODULO = 'CAJA'
  
  USE SIGSALUD
  SELECT * FROM dbo.ITEM 
  
   SELECT * FROM GRUPO_RECAUDACION ORDER BY GRUPO_RECAUDACION ASC
   SELECT * FROM CLASIFICADOR ORDER BY GRUPO_RECAUDACION ASC
   
     SELECT ACTIVO, * FROM ITEM WHERE SUBSTRING(ITEM,1,1) = '5' AND MODULO = 'CAJA' AND GRUPO_RECAUDACION = '26'  ORDER BY ITEM ASC
     
SELECT ACTIVO, * FROM ITEM WHERE NOMBRE LIKE '%SERVI%'
   
  
  SELECT * FROM [SIGSALUD].[dbo].[TARIFARIO_GENERAL_2017] 
  
  UPDATE [SIGSALUD].[dbo].[TARIFARIO_GENERAL_2017] SET GRUPO_RECAUDACION = '26', CLASIFICADOR = '1.3.2.4.14', GRUPO_LIQUIDACION = '26'  WHERE SERVICIO IN ('SERVICIOS ADMINISTRATIVOS', 'SERVICIOS EN GENERAL')
  UPDATE [SIGSALUD].[dbo].[TARIFARIO_GENERAL_2017] SET GRUPO_RECAUDACION = '01', CLASIFICADOR = '1.3.3.4.3', GRUPO_LIQUIDACION = '01'  WHERE SERVICIO IN ('ANESTESIA', 'CIRUGÍA')
  UPDATE [SIGSALUD].[dbo].[TARIFARIO_GENERAL_2017] SET GRUPO_RECAUDACION = '16', CLASIFICADOR = '1.3.2.4.14', GRUPO_LIQUIDACION = '16'  WHERE SERVICIO IN ('RADIOLOGÍA')
  UPDATE [SIGSALUD].[dbo].[TARIFARIO_GENERAL_2017] SET GRUPO_RECAUDACION = '01', CLASIFICADOR = '1.3.2.4.11', GRUPO_LIQUIDACION = '01'  WHERE SERVICIO IN ('MEDICINA')
  UPDATE [SIGSALUD].[dbo].[TARIFARIO_GENERAL_2017] SET GRUPO_RECAUDACION = '01', CLASIFICADOR = '1.3.2.4.12', GRUPO_LIQUIDACION = '01'  WHERE SERVICIO IN ('ODONTOLOGÍA')
  UPDATE [SIGSALUD].[dbo].[TARIFARIO_GENERAL_2017] SET GRUPO_RECAUDACION = '04', CLASIFICADOR = '1.3.2.4.21', GRUPO_LIQUIDACION = '04'  WHERE SERVICIO IN ('PATOLOGÍA - LABORATORIO')
  UPDATE [SIGSALUD].[dbo].[TARIFARIO_GENERAL_2017] SET GRUPO_RECAUDACION = '06', CLASIFICADOR = '1.3.2.4.24', GRUPO_LIQUIDACION = '06'  WHERE SERVICIO IN ('RADIOLOGÍA')
  
  
    SELECT *  FROM [SIGSALUD].[dbo].[TARIFARIO_GENERAL_2017]  
  
  