/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT *
  FROM [SIGSALUD].[dbo].[PAGOC] WHERE FECHA = CONVERT(DATETIME, '2017-01-04', 101) 
  ORDER BY PAGOID 
  
  
  SELECT *
  FROM [SIGSALUD].[dbo].[PAGOC] WHERE FECHA = CONVERT(DATETIME, '2017-01-05', 101) 
  ORDER BY PAGOID 
  
  JQUINCHO
  JCORTEZ
  EARELLANO
  
  
SELECT USUARIO
  FROM [SIGSALUD].[dbo].[PAGOC] WHERE FECHA = CONVERT(DATETIME, '2017-01-04', 101) 
  GROUP BY USUARIO  
  
  
SELECT *  FROM [SIGSALUD].[dbo].[PAGOC] WHERE FECHA = CONVERT(DATETIME, '2017-01-04', 101) 

SELECT *  FROM [SIGSALUD].[dbo].[PAGOC] WHERE FECHA_REGISTRO BETWEEN CONVERT(datetime, '2018-01-04', 101) + CAST('00:00:00' AS DATETIME)
AND CONVERT(datetime, '2018-01-04', 101) + CAST('23:59:59' AS DATETIME)
ORDER BY FECHA_REGISTRO


SELECT *  FROM [SIGSALUD].[dbo].[PAGOC] WHERE FECHA_REGISTRO BETWEEN CONVERT(datetime, '2018-01-04', 101) + CAST('00:00:00' AS DATETIME)
AND CONVERT(datetime, '2018-01-04', 101) + CAST('23:59:59' AS DATETIME)
ORDER BY FECHA_REGISTRO



SELECT *  FROM [SIGSALUD].[dbo].[PAGOC] WHERE FECHA_REGISTRO BETWEEN CONVERT(datetime, '2018-01-04', 101) + CAST('00:00:00' AS DATETIME)
AND CONVERT(datetime, '2018-01-04', 101) + CAST('23:59:59' AS DATETIME) AND USUARIO = 'JQUINCHO'
ORDER BY FECHA_REGISTRO
