USE [SIGSALUD]
GO
/****** Object:  Table [dbo].[TARIFARIO_UNIDO_SIS]    Script Date: 07/17/2017 15:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TARIFARIO_UNIDO_SIS](
	[NRO] [int] IDENTITY(1,1) NOT NULL,
	[CPT] [varchar](50) NULL,
	[DESCRIPCION] [nvarchar](255) NULL,
	[PRECIO_SIS] [numeric](7, 3) NULL,
	[RESOLUCION] [nvarchar](255) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TARIFARIO_UNIDO_SIS] ON
INSERT [dbo].[TARIFARIO_UNIDO_SIS] ([NRO], [CPT], [DESCRIPCION], [PRECIO_SIS], [RESOLUCION]) VALUES (1, N'107', N'ANESTESIA ENDOVENOSA PARA REALIZAR PROCEDIMIENTOS FUERA DE SALA DE OPERACIONES', CAST(5.850 AS Numeric(7, 3)), N'82')
INSERT [dbo].[TARIFARIO_UNIDO_SIS] ([NRO], [CPT], [DESCRIPCION], [PRECIO_SIS], [RESOLUCION]) VALUES (2, N'1987', N'EVALUACIÓN PREANESTÉSICA', CAST(9.505 AS Numeric(7, 3)), N'82')
INSERT [dbo].[TARIFARIO_UNIDO_SIS] ([NRO], [CPT], [DESCRIPCION], [PRECIO_SIS], [RESOLUCION]) VALUES (3, N'10060', N'INCISIÓN Y DRENAJE ', CAST(21.447 AS Numeric(7, 3)), N'82')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
SET IDENTITY_INSERT [dbo].[TARIFARIO_UNIDO_SIS] OFF
