USE [SIGSALUD]
GO
/****** Object:  Table [dbo].[TARIFARIO_INTEGRADO]    Script Date: 07/17/2017 12:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARIFARIO_INTEGRADO](
	[NRO] [int] NULL,
	[CPT] [nvarchar](255) NULL,
	[DESCRIPCION] [nvarchar](255) NULL,
	[PRECIO_SIS] [numeric](7, 3) NULL,
	[RESOLUCION] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[TARIFARIO_INTEGRADO] ([NRO], [CPT], [DESCRIPCION], [PRECIO_SIS], [RESOLUCION]) VALUES (1, N'75194', N'TOMOGRAFIAS   ESPIRALES MULTICORTES /TEM ABDOMEN INFERIOR CON CONTRASTE
', CAST(272.570 AS Numeric(7, 3)), N'139')
INSERT [dbo].[TARIFARIO_INTEGRADO] ([NRO], [CPT], [DESCRIPCION], [PRECIO_SIS], [RESOLUCION]) VALUES (2, N'70450', N'TEM CEREBRO SIN CONTRASTE', CAST(158.430 AS Numeric(7, 3)), N'139')
INSERT [dbo].[TARIFARIO_INTEGRADO] ([NRO], [CPT], [DESCRIPCION], [PRECIO_SIS], [RESOLUCION]) VALUES (3, N'70450', N'TOMOGRAFIA AXIAL COMPUTARIZADA DE CEREBRO ; SIN MATERIAL DE CONTRASTES', CAST(160.000 AS Numeric(7, 3)), N'139')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
GO
print 'Processed 3000 total records'
GO
print 'Processed 3100 total records'
GO
print 'Processed 3200 total records'
GO
print 'Processed 3300 total records'
GO
print 'Processed 3400 total records'
GO
print 'Processed 3500 total records'
GO
print 'Processed 3600 total records'
GO
print 'Processed 3700 total records'
GO
print 'Processed 3800 total records'
GO
print 'Processed 3900 total records'
GO
print 'Processed 4000 total records'
GO
print 'Processed 4100 total records'
GO
print 'Processed 4200 total records'
GO
print 'Processed 4300 total records'
