/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT  [CODCPT]
      ,[NOMBRE]
      ,[PRECIOH]
      ,[PRECIO_SOAT_SEGURO]
      ,[TIPO_REGISTROS]
  FROM [SIGSALUD].[dbo].[COMPARAR_PRECIO_SOAT]
  

/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT  *
  FROM [SIGSALUD].[dbo].[COMPARAR_PRECIO_SOAT] WHERE CODCPT = '97597'



  
SELECT *   FROM [SIGSALUD].[dbo].[TARIFARIO_SOAT_SEGURO] WHERE EXISTE IS NULL

update [SIGSALUD].[dbo].[TARIFARIO_SOAT_SEGURO] set existe = 'S' WHERE CPT 
WHERE CPT = 'AD001'
  
  
SELECT *   FROM [SIGSALUD].[dbo].[TARIFARIO_SOAT_SEGURO]

update [SIGSALUD].[dbo].[COMPARAR_PRECIO_SOAT] set precio_soat_seguro =  where codcpt = ''



SELECT * FROM  [SIGSALUD].[dbo].[COMPARAR_PRECIO_SOAT]
UPDATE [SIGSALUD].[dbo].[COMPARAR_PRECIO_SOAT] SET PRECIO_SOAT_SEGURO = 0 WHERE PRECIO_SOAT_SEGURO IS NULL



SELECT  *
  FROM [SIGSALUD].[dbo].[COMPARAR_PRECIO_SOAT] WHERE CODCPT = '97597'


SELECT  *
  FROM [SIGSALUD].[dbo].[COMPARAR_PRECIO_SOAT] WHERE PRECIOH = 0 AND PRECIO_SOAT_SEGURO <> 0 ORDER BY CODCPT  DESC
  

SELECT  *
  FROM [SIGSALUD].[dbo].[COMPARAR_PRECIO_SOAT] WHERE PRECIOH <> 0 AND PRECIO_SOAT_SEGURO = 0 ORDER BY CODCPT  DESC


  
SELECT  *
  FROM [SIGSALUD].[dbo].[COMPARAR_PRECIO_SOAT]  ORDER BY CODCPT  DESC  
  
  
SELECT  *
  FROM [SIGSALUD].[dbo].[TARIFARIO_SOAT_SEGURO] WHERE EXISTE IS NULL