USE [SIGSALUD]
GO
/****** Object:  Table [dbo].[TARIFARIO_TOTAL]    Script Date: 04/04/2017 16:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TARIFARIO_TOTAL](
	[CODCPT] [varchar](50) NULL,
	[NOMBRE] [nvarchar](255) NULL,
	[CLASIFICADOR] [nvarchar](255) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TARIFARIO_TOTAL] ([CODCPT], [NOMBRE], [CLASIFICADOR]) VALUES (N'105', N'ANALGESIA EPIDURAL PARA PARTO NORMAL', N'1.3.3.4.1.99')
INSERT [dbo].[TARIFARIO_TOTAL] ([CODCPT], [NOMBRE], [CLASIFICADOR]) VALUES (N'108', N'EVALUACIÓN  PREANESTÉSICA A PACIENTE HOSPITALIZADO', N'1.3.3.4.1.99')
INSERT [dbo].[TARIFARIO_TOTAL] ([CODCPT], [NOMBRE], [CLASIFICADOR]) VALUES (N'1120', N'ANESTESIA PARA PROCEDIMIENTOS EN LA PELVIS ÓSEA', N'1.3.3.4.1.99')
GO
print 'Processed 100 total records'
