/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT *   FROM [TRAMITE].[dbo].[EXPEDIENTE_DETALLE] where EXPEDIENTE = '16TD0759200' order by cargo_fecha desc
SELECT *   FROM [TRAMITE].[dbo].[EXPEDIENTE_DETALLE] where EXPEDIENTE = '16TD0773100' order by cargo_fecha desc