declare @lcfecha1 varchar(10) = '2017-01-01'
declare @lcfecha2 varchar(10) = '2017-06-30'
  USE TRAMITE
  SELECT 'CERTIFICADO DE DISCAPACIDAD ' AS  TITULO, EXPEDIENTE, FECHA, NOMBRE, ASUNTO FROM EXPEDIENTE WHERE FECHA BETWEEN CONVERT(DATETIME, @lcfecha1, 101) AND CONVERT(DATETIME, @lcfecha2, 101) 
     AND ASUNTO like '%CERTIFICADO DE DISCAPACIDAD%'
UNION ALL      
 SELECT '----------------------------' AS  TITULO, '------------' as EXPEDIENTE, '' as FECHA, '-------' as NOMBRE, '-------' as ASUNTO 
  UNION ALL 
  SELECT 'CONSTANCIA DE NACIMIENTO ' AS  TITULO, EXPEDIENTE, FECHA, NOMBRE, ASUNTO FROM EXPEDIENTE WHERE FECHA BETWEEN CONVERT(DATETIME, @lcfecha1, 101) AND CONVERT(DATETIME, @lcfecha2, 101) 
    AND  ASUNTO like '%CONSTANCIA DE NACI%'
UNION ALL      
 SELECT '----------------------------' AS  TITULO, '------------' as EXPEDIENTE, '' as FECHA, '-------' as NOMBRE, '-------' as ASUNTO 
  UNION ALL 
  SELECT 'COPIAS DE HISTORIA CLINICA ' AS  TITULO, EXPEDIENTE, FECHA, NOMBRE, ASUNTO FROM EXPEDIENTE WHERE FECHA BETWEEN CONVERT(DATETIME, @lcfecha1, 101) AND CONVERT(DATETIME, @lcfecha2, 101) 
   AND  ASUNTO like  '%HISTORIA CLINICA%'
 UNION ALL      
 SELECT '----------------------------' AS  TITULO, '------------' as EXPEDIENTE, '' as FECHA, '-------' as NOMBRE, '-------' as ASUNTO 
  UNION ALL 
  SELECT 'INFORME MEDICO ' AS  TITULO, EXPEDIENTE, FECHA, NOMBRE, ASUNTO FROM EXPEDIENTE WHERE FECHA BETWEEN CONVERT(DATETIME, @lcfecha1, 101) AND CONVERT(DATETIME, @lcfecha2, 101) 
   AND ASUNTO like  '%informe medico%'
 UNION ALL      
 SELECT '----------------------------' AS  TITULO, '------------' as EXPEDIENTE, '' as FECHA, '-------' as NOMBRE, '-------' as ASUNTO 
  UNION ALL 
  SELECT 'RECURSOS DE APELACION DE PROCESO DE SELECCION ' AS  TITULO, EXPEDIENTE, FECHA, NOMBRE, ASUNTO FROM EXPEDIENTE WHERE FECHA BETWEEN CONVERT(DATETIME, @lcfecha1, 101) AND CONVERT(DATETIME, @lcfecha2, 101) 
   AND ASUNTO like  '%apelacion DE PROCESO%'


