USE [SIGSALUD]
GO
/****** Object:  Table [dbo].[CPT_AGREGAR]    Script Date: 04/06/2017 16:50:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CPT_AGREGAR](
	[ncodigo] [float] NULL,
	[scod_cpt] [nvarchar](10) NULL,
	[sdesc_cpt] [nvarchar](180) NULL,
	[ssexo] [nvarchar](2) NULL,
	[nmin_edad] [float] NULL,
	[smin_tipo] [nvarchar](1) NULL,
	[nmax_edad] [float] NULL,
	[smax_tipo] [nvarchar](1) NULL,
	[sclase] [nvarchar](1) NULL,
	[sest] [nvarchar](1) NULL,
	[sAGREGO] [varchar](1) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CPT_AGREGAR] ([ncodigo], [scod_cpt], [sdesc_cpt], [ssexo], [nmin_edad], [smin_tipo], [nmax_edad], [smax_tipo], [sclase], [sest], [sAGREGO]) VALUES (1, N'10060', N'Incision y drenaje', N'', 1, N'D', 99, N'A', N'4', N'A', N'E')
INSERT [dbo].[CPT_AGREGAR] ([ncodigo], [scod_cpt], [sdesc_cpt], [ssexo], [nmin_edad], [smin_tipo], [nmax_edad], [smax_tipo], [sclase], [sest], [sAGREGO]) VALUES (2, N'10120', N'Extraccion de Cuerpo Extrano', N'', 1, N'D', 99, N'A', N'4', N'A', N'E')
INSERT [dbo].[CPT_AGREGAR] ([ncodigo], [scod_cpt], [sdesc_cpt], [ssexo], [nmin_edad], [smin_tipo], [nmax_edad], [smax_tipo], [sclase], [sest], [sAGREGO]) VALUES (3, N'10781', N'Canalizacion de Via Periferica', N'', 1, N'D', 99, N'A', N'4', N'A', N'E')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
